{{#if (eq geometryMode mode)}}
  <div class="callout shadowed top-right">
    <h3 class="header-small small-margin-bottom">{{modeDisplayName}}</h3>
    {{#if (eq mode 'proposedZoning')}}
      <p class="text-small">Select a zoning district to edit its boundary and label. Use the draw tools to add new districts.</p>
        <div class="input-group">
          <span class="input-group-label text-small"><span class="{{unless selectedZoningDistrictFeature 'light-gray'}}">Selected</span></span>
          {{input
            type="text"
            class="input-group-field"
            value=selectedZoningDistrictFeature.properties.zonedist
            key-up="updateSelectedZoningDistrictFeature"
            disabled=(not selectedZoningDistrictFeature)
          }}
        </div>
      <div class="grid-x grid-margin-x">
        <button class="cell auto button small draw-control-done" {{action 'setProjectGeometry'}}>Done</button>
        <button class="cell shrink button small alert clear draw-control-cancel" {{action 'toggleGeometryEditing' null}}>Cancel</button>
      </div>
    {{else}}
      {{#if lotSelectionMode}}
        <p class="text-small">Click individual tax lots to toggle their selection</p>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small" {{action 'finishLotSelection'}}>Make Selection</button>
          {{!-- <button class="cell shrink button small alert clear">Cancel</button> --}}{{!-- TODO: make an action to cancel lot selection --}}
        </div>
      {{else}}
        <p class="text-small">Use the <strong class="bg-a11y-yellow">&nbsp;drawing tools&nbsp;</strong> on the map to define the {{modeDisplayName}} <em>or&hellip;</em></p>
        <button class="button gray small expanded select-tax-lots-{{dasherize modeDisplayName}}" {{action "startLotSelection"}}>Select Tax Lots</button>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small draw-control-done" {{action 'setProjectGeometry'}}>Done</button>
          <button class="cell shrink button small alert clear draw-control-cancel" {{action 'toggleGeometryEditing' null}}>Cancel</button>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <p class="grid-x text-small align-middle">
    <span class="cell small-8 medium-7">
      {{modeDisplayName}}
      {{#if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon'))}}
        {{labs-ui/legend-icon icon=modeIcon}}
      {{else}}
        {{#if required}}<strong class="red">{{fa-icon 'asterisk' transform='shrink-4'}}</strong>{{/if}}
      {{/if}}
    </span>
    <span class="cell small-4 medium-5">
      <button
        class="button small expanded no-margin draw-control-{{dasherize modeDisplayName}} {{if
          (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon') (eq mode 'proposedZoning')) 'gray'
        }}"
        {{action 'toggleGeometryEditing' mode}}
        disabled={{geometryMode}}
      >
        {{#if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon') (eq mode 'proposedZoning'))}}
          {{fa-icon 'pencil-alt'}} Edit
        {{else}}
          {{fa-icon 'plus'}} Add
        {{/if}}
      </button>
    </span>
  </p>
{{/if}}
