{{#if (eq geometryMode mode)}}
  <div class="callout shadowed top-right">
    <h3 class="header-small small-margin-bottom">{{modeDisplayName}}</h3>
    {{#if isProposedZoningMode }}
      <p class="text-small">Select a zoning district to edit its boundary and label. Use the draw tools to add new districts.</p>
        <div class="input-group">
          <span class="input-group-label text-small"><span class="{{unless selectedZoningFeature 'light-gray'}}">Selected</span></span>
          {{input
            type="text"
            class="input-group-field"
            value=selectedZoningFeature.properties.label
            key-up="updateSelectedZoningFeature"
            disabled=(not selectedZoningFeature)
          }}
        </div>
    {{else}}
      {{#if lotSelectionMode}}
        <p class="text-small">Click individual tax lots to toggle their selection</p>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small" {{action 'finishLotSelection'}}>Make Selection</button>
          {{!-- <button class="cell shrink button small alert clear">Cancel</button> --}}{{!-- TODO: make an action to cancel lot selection --}}
        </div>
      {{else}}
        <p class="text-small">Use the <strong class="bg-a11y-yellow">&nbsp;drawing tools&nbsp;</strong> on the map to define the {{modeDisplayName}} <em>or&hellip;</em></p>
        <button class="button gray small expanded select-tax-lots-{{dasherize modeDisplayName}}" {{action "startLotSelection"}}>Select Tax Lots</button>
      {{/if}}
    {{/if}}
    <div class="grid-x grid-margin-x">
      <button class="cell auto button small draw-control-done" {{action 'setProjectGeometry'}}>Done</button>
      <button class="cell shrink button small alert clear draw-control-cancel" {{action 'toggleGeometryEditing' null}}>Cancel</button>
    </div>
  </div>
{{else}}
  <p class="grid-x text-small align-middle">
    <span class="cell auto">
      {{modeDisplayName}}
      {{#if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon'))}}
        {{labs-ui/legend-icon icon=modeIcon}}
      {{else}}
        {{#if required}}<strong class="red">{{fa-icon 'asterisk' transform='shrink-4'}}</strong>{{/if}}
      {{/if}}
    </span>
    <span class="cell shrink">
      <button
        class="button small no-margin draw-control-{{dasherize modeDisplayName}} {{if
          (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon') (eq mode 'proposedZoning')) 'gray'
        }}"
        {{action 'toggleGeometryEditing' mode}}
        disabled={{geometryMode}}
      >
        {{#if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon') isProposedZoningMode)}}
          {{fa-icon 'pencil-alt'}} Edit
        {{else}}
          {{fa-icon 'plus'}} Add
        {{/if}}
      </button>
    </span>
    {{#if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon'))}}
      <span class="cell shrink geom-delete-container">
        <button class="dark-gray" style="margin-left:0.875rem;" {{action (mut deleteModalIsOpen) (not deleteModalIsOpen)}}>{{fa-icon 'trash-alt'}}</button>
        <span class="geom-delete-modal {{unless deleteModalIsOpen 'hide'}}">
          <strong class="nowrap">Delete the {{modeDisplayName}}?</strong>
          <span class="grid-x">
            <button class="cell auto button tiny alert" {{action 'deleteGeom'}}>Delete</button>
            <button class="cell auto button tiny clear " {{action (mut deleteModalIsOpen) (not deleteModalIsOpen)}}>Cancel</button>
          </span>
        </span>
      </span>
    {{/if}}
  </p>
{{/if}}
