{{#if (eq geometryMode mode)}}
  <div class="callout shadowed top-right">
    <h3 class="header-small small-margin-bottom">{{modeDisplayName}}
      {{~#if tooltip}}<sup class="blue-dark">{{labs-ui/icon-tooltip tip=tooltip}}</sup>{{/if}}
    </h3>
    {{#if isProposedZoningMode }}
      <p class="text-small">Select a zoning district to edit its boundary and label. Use the draw tools to add new districts.</p>
      <div class="input-group">
        <span class="input-group-label text-small"><span class="{{unless selectedZoningFeature 'light-gray'}}">Selected</span></span>
        {{input
          type="text"
          class="input-group-field"
          value=selectedZoningFeature.properties.label
          key-up=(action "updateSelectedZoningFeature")
          disabled=(not selectedZoningFeature)
        }}
      </div>
    {{/if}}

    {{#if lotSelectionMode}}
      <p class="text-small">Click individual tax lots to toggle their selection</p>
      <div class="grid-x grid-margin-x">
        <button class="cell auto button small" {{action 'finishLotSelection'}}>Make Selection</button>
        {{!-- <button class="cell shrink button small alert clear">Cancel</button> --}}{{!-- TODO: make an action to cancel lot selection --}}
      </div>
    {{/if}}

    {{#unless (or lotSelectionMode isProposedZoningMode)}}
      <p class="text-small">Use the <strong class="bg-a11y-yellow">&nbsp;drawing tools&nbsp;</strong> on the map to define the {{modeDisplayName}} <em>or&hellip;</em></p>
    {{/unless}}

    {{#unless lotSelectionMode}}
      <button class="button gray small expanded select-tax-lots-{{dasherize modeDisplayName}}" {{action "startLotSelection"}}>Select Tax Lots</button>
      <div class="grid-x grid-margin-x">
        <button class="cell auto button small draw-control-done" {{action 'setProjectGeometry'}}>Done</button>
        <button class="cell shrink button small alert clear draw-control-cancel" {{action 'toggleGeometryEditing' null}}>Cancel</button>
      </div>
    {{/unless}}

  </div>
{{else}}

  <p class="grid-x text-small align-middle">
    <span class="cell auto">
      {{#unless (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon'))}}
        {{#if required}}{{fa-icon 'asterisk' transform='shrink-4' class="red"}}{{/if}}
      {{/unless}}
      {{modeDisplayName}}
      {{#if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon'))}}
        {{labs-ui/legend-icon icon=modeIcon}}
      {{/if}}
      {{~#if tooltip}}{{labs-ui/icon-tooltip tip=tooltip class="blue-dark"}}{{/if}}
    </span>

    {{!-- Add/Edit Button --}}
    <span class="cell shrink">
      <button
        class="button small no-margin draw-control-{{dasherize modeDisplayName}} {{if
          (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon') isProposedZoningMode) 'gray'
        }}"
        {{action 'toggleGeometryEditing' mode}}
        disabled={{disabled}}
      >
        {{#if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon') isProposedZoningMode)}}
          {{fa-icon 'pencil-alt'}} Edit
        {{else}}
          {{fa-icon 'plus'}} Add
        {{/if}}
      </button>
    </span>

    {{!-- Delete Button --}}
    {{#if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon'))}}
      <span class="cell shrink geom-delete-container">
        <button class="button small clear no-margin" disabled={{disabled}} {{action (mut deleteModalIsOpen) (not deleteModalIsOpen)}}>{{fa-icon 'trash-alt' class="dark-gray"}}</button>
        <span class="geom-delete-modal {{unless deleteModalIsOpen 'hide'}}">
          <strong class="nowrap">Delete the {{modeDisplayName}}?</strong>
          <span class="grid-x">
            <button class="cell auto button tiny alert" {{action 'deleteGeom'}}>Delete</button>
            <button class="cell auto button tiny clear " {{action (mut deleteModalIsOpen) (not deleteModalIsOpen)}}>Cancel</button>
          </span>
        </span>
      </span>
    {{else if isProposedZoningMode}}
      <span class="cell shrink geom-delete-container">
        <button class="button small clear no-margin" disabled={{disabled}} {{action (mut deleteModalIsOpen) (not deleteModalIsOpen)}}>{{fa-icon 'sync-alt' class="dark-gray"}}</button>
        <span class="geom-delete-modal {{unless deleteModalIsOpen 'hide'}}">
          <strong class="nowrap">Reset the {{modeDisplayName}}?</strong>
          <span class="grid-x">
            <button class="cell auto button tiny alert" {{action 'resetOverlay'}}>Reset</button>
            <button class="cell auto button tiny clear " {{action (mut deleteModalIsOpen) (not deleteModalIsOpen)}}>Cancel</button>
          </span>
        </span>
      </span>
    {{/if}}
  </p>
{{/if}}
