{{#if (eq geometryMode mode)}}
  <div class="callout">
    {{#if lotSelectionMode}}
      <p class="text-small">Click individual tax lots to toggle their selection</p>
      <div class="grid-x grid-margin-x">
        <button class="cell auto button small" {{action 'finishLotSelection'}}>Make Selection</button>
        {{!-- <button class="cell shrink button small alert clear">Cancel</button> --}}{{!-- TODO: make an action to cancel lot selection --}}
      </div>
    {{else}}
      <p class="text-small">Use the <strong class="bg-a11y-yellow">&nbsp;drawing tools&nbsp;</strong> on the map to define the {{modeDisplayName}} <em>or&hellip;</em></p>
      <button class="button gray small expanded" {{action "startLotSelection"}}>Select Tax Lots</button>
      <div class="grid-x grid-margin-x">
        <button class="cell auto button small" {{action 'setProjectGeometry'}}>Done</button>
        <button class="cell shrink button small alert clear" {{action 'toggleGeometryEditing' null}}>Cancel</button>
      </div>
    {{/if}}
  </div>
{{else}}
  <button
    class="button expanded {{if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon')) 'gray'}}"
    {{action 'toggleGeometryEditing' mode}}
    disabled={{geometryMode}}
  >
    {{fa-icon 'pencil-alt'}}
    {{if (or (eq hasGeom.type 'Polygon') (eq hasGeom.type 'MultiPolygon')) 'Red' 'D'}}raw
    {{modeDisplayName}}
  </button>
{{/if}}
