{{#if mapConfiguration}}
  <div class="cell sidebar map-sidebar">
    <h2 class="header-large">{{model.project.projectName}} <span class="nowrap">{{model.mapTypeLabel}}</span></h2>

    <div class="grid-x grid-margin-x">
      <div class="cell auto">
        <label onclick={{action 'toggleMapInteractions'}} data-test-map-form-lock class="inline">
          <span class="fa-layers">
            {{fa-icon 'square' class='white-smoke'}}
            {{fa-icon 'square' prefix='far' class='silver'}}
            {{#if preventMapInteractions}}{{fa-icon 'check' transform='right-2 up-2' class='a11y-orange'}}{{/if}}
          </span>
          Lock Map Interactions
        </label>
      </div>
      <div class="cell shrink">
        <button
          class="button tiny gray"
          onclick={{action 'fitBoundsToSelectedBuffer'}}
          data-test-reset-map
        >Reset</button>
      </div>
    </div>

    <h5>Paper Settings</h5>
    <p>
      <input
        type="radio"
        name="paper-orientation"
        class="portrait-radio-button"
        value="portrait"
        id="paper-orientation--portrait"
        checked={{eq model.paperOrientation "portrait"}}
        onclick={{action 'setPaperOrientation' 'portrait'}}
        data-test-paper-orientation-portrait
      />

      <label for="paper-orientation--portrait">
        Portrait
      </label>
      <input
        type="radio"
        name="paper-orientation"
        class="landscape-radio-button"
        value="landscape"
        id="paper-orientation--landscape"
        checked={{eq model.paperOrientation "landscape"}}
        onclick={{action 'setPaperOrientation' 'landscape'}}

        data-test-paper-orientation-landscape
      />
        <label for="paper-orientation--landscape">
          Landscape
        </label>
    </p>
    <p>
      <input
        type="radio"
        name="paper-size"
        class="tabloid-radio-button"
        value="tabloid"
        id="paper-size--tabloid"
        checked={{eq model.paperSize "tabloid"}}
        onclick={{action 'setPaperSize' 'tabloid'}}
        data-test-paper-paper-size-tabloid
      />
      <label for="paper-size--tabloid">Tabloid</label>
      <input
        type="radio"
        name="paper-size"
        class="letter-radio-button" value="letter" id="paper-size--letter"
        checked={{eq model.paperSize "letter"}}
        onclick={{action  'setPaperSize' 'letter'}}
        data-test-paper-paper-size-letter
      />
      <label for="paper-size--letter">Letter</label>
    </p>

    <h5>Project Area Buffer</h5>
    <input
      type="radio"
      name="buffer-size"
      checked={{eq model.bufferSize "600"}}
      id="buffer-size--600"
      onclick={{action 'setBufferSize' '600'}}
      data-test-project-area-buffer
    />
    <label for="buffer-size--600">600ft</label>
    <input
      type="radio"
      name="buffer-size"
      checked={{eq model.bufferSize "400"}}
      id="buffer-size--400"
      onclick={{action 'setBufferSize' '400'}}
      data-test-project-area-buffer-400
    />
    <label for="buffer-size--400">400ft</label>

    <p class="text-tiny">Most ULURP area maps should show a buffer of 600 feet around the project area.  CEQR area maps should show a buffer of 400 feet.</p>

    <hr/>

    <div class="grid-x grid-margin-x align-middle">
      {{#link-to "projects.show" model.project
        class="cell shrink button small clear"
        data-test-go-back-to-project=true
      }}
        {{fa-icon 'arrow-left'}}
        Go Back to Project
      {{/link-to}}
      <button
        class="cell auto button project-save-button"
        type="button"
        onclick={{action 'saveProject'}}
        disabled={{not model.hasDirtyAttributes}}
        data-test-save-map
      >Save Map</button>
    </div>

    <hr/>

    <div class="grid-x grid-margin-x">
      <p class="cell shrink medium-5">
        <button class="button gray expanded" type="button" onClick=print()>{{fa-icon 'print'}} Print</button></p>
      <p class="cell auto text-tiny dark-gray">Make sure your system's print settings enable printing background graphics and that the paper size and orientation match your map.</p>
    </div>

  </div>

  <div class="cell large-auto paper-container text-center">
    <div class="paper {{model.paperSize}} {{model.paperOrientation}} padding-7mm text-left">
      <div class="paper-grid grid-x">
        <div class="cell paper-sidebar">
          <div class="grid-y" style="height:100%;">
            <div class="cell shrink">
              <div class="grid-x">
                <div class="cell auto">
                  <h1 class="paper-project-name">{{model.project.projectName}} {{model.mapTypeLabel}}</h1>
                  <h2 class="paper-applicant">{{model.project.applicantName}}</h2>
                </div>
                <div class="cell shrink">
                  <div id="north-arrow-container">
                    <div id="north-arrow" style={{northArrowTransforms.arrow}} />
                    <div id="north-n" style={{northArrowTransforms.n}}><span class="n" style={{northArrowTransforms.nSpan}}>N</span></div>
                  </div>
                </div>
              </div>

            </div>
            <div class="cell shrink legend">
              {{yield}}

              <section class="legend-section">
                <div class="data-sources">
                  <strong>Data Sources:</strong>
                  <a href="https://layers-api.planninglabs.nyc/v1/sources" target="_blank" class="nowrap black">layers-api.planninglabs.nyc/v1/sources</a>
                  <br />
                  {{#each mapConfiguration.sources as |source index|}}
                    {{~if index ';'}}
                    {{source.id}}
                    {{if source.meta.updated_at (concat '(' source.meta.updated_at ')')~}}
                  {{/each}}
                </div>
              </section>

            </div>
            <div class="cell auto">
              {{#if boundsPolygon}}
                {{map-form/inset-map boundsPolygon=boundsPolygon}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="cell auto">
          {{#labs-map
            id='main-map'
            initOptions=(hash
              style=mapConfiguration.meta.mapboxStyle
              pitchWithRotate=false
            )
            mapLoaded=(action 'handleMapLoaded') as |map|
          }}
            <div class="labs-map-loaded"></div>
            {{map.labs-layers layerGroups=mapConfiguration.layerGroups}}

            {{!-- Ad-hoc source and layer for showing commercial overlays --}}
            {{#if model.project.commercialOverlays}}
              {{#map.source options=(mapbox-geojson-source model.project.commercialOverlays) as |source|}}
                {{source.layer layer=projectGeomLayers.coLayer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c11Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c12Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c13Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c14Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c15Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c21Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c22Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c23Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c24Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c25Layer before='boundary_country'}}
              {{/map.source}}
            {{/if}}

            {{!-- Ad-hoc source and layer for showing commercial overlays --}}
            {{#if model.project.proposedSpecialPurposeDistricts}}
              {{#map.source options=(mapbox-geojson-source model.project.proposedSpecialPurposeDistricts) as |source|}}
                {{source.layer
                  layer=projectGeomLayers.proposedSpecialPurposeDistrictsLayer
                  before='boundary_country'
                }}
                {{source.layer
                  layer=projectGeomLayers.proposedSpecialPurposeDistrictsLabelsLayer
                  before='boundary_country'
                }}
              {{/map.source}}
            {{/if}}

            {{#map.source options=(mapbox-geojson-source model.project.projectArea) as |source|}}
              {{source.layer
                layer=projectGeomLayers.projectAreaLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{#map.source options=(mapbox-geojson-source model.projectGeometryBuffer) as |source|}}
              {{source.layer
                layer=projectGeomLayers.projectBufferLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{#if model.project.rezoningArea}}
              {{#map.source options=(mapbox-geojson-source model.project.rezoningArea) as |source|}}
                {{source.layer
                  layer=projectGeomLayers.rezoningAreaLayer
                  before='boundary_country'
                }}
              {{/map.source}}
            {{/if}}

            {{#if model.project.underlyingZoning}}
              {{#map.source options=(mapbox-geojson-source model.project.underlyingZoning) as |source|}}
                {{source.layer
                  layer=projectGeomLayers.underlyingZoningLayer
                  before='boundary_country'
                }}
                {{source.layer
                  layer=projectGeomLayers.underlyingZoningLabelsLayer
                  before='boundary_country'
                }}
              {{/map.source}}
            {{/if}}

            {{#map.source options=(mapbox-geojson-source model.project.developmentSite) as |source|}}
              {{source.layer
                layer=projectGeomLayers.developmentSiteLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{map.on 'zoom' (action 'updateBounds')}}
            {{map.on 'drag' (action 'updateBounds')}}
            {{map.on 'pitch' (action 'updateBounds')}}
            {{map.on 'rotate' (action 'updateBounds')}}
          {{/labs-map}}

          <p class="project-url-text text-right">
            <a href="">{{projectURL}}</a>
          </p>
        </div>

      </div>

    </div>
    <div class="size-display"></div>
  </div>
{{/if}}
