{{#if mapConfiguration}}
  <div class="cell sidebar">
    <h2 class="header-large">{{model.project.projectName}} {{model.mapTypeLabel}}</h2>

    <hr/>

    <input type="radio" name="paper-orientation" class="portrait-radio-button" value="portrait" id="paper-orientation--portrait" onclick={{action 'reorientPaper' 'portrait'}}/>
    <label for="paper-orientation--portrait">Portrait</label>
    <input type="radio" name="paper-orientation" class="landscape-radio-button" value="landscape" id="paper-orientation--landscape" checked  onclick={{action 'reorientPaper' 'landscape'}}/>
    <label for="paper-orientation--landscape">Landscape</label>

    <hr/>

    <input type="radio" name="paper-size" class="tabloid-radio-button" value="tabloid" id="paper-size--tabloid" onclick={{action 'scalePaper' 'tabloid'}} checked />
    <label for="paper-size--tabloid">Tabloid</label>
    <input type="radio" name="paper-size" class="letter-radio-button" value="letter" id="paper-size--letter" onclick={{action  'scalePaper' 'letter'}}/>
    <label for="paper-size--letter">Letter</label>

    <hr/>


    <div class="grid-x grid-margin-x">
      <div class="cell auto">
        <label onclick={{action 'toggleMapInteractions'}} class="inline">
          <span class="fa-layers">
            {{fa-icon 'square' class='white-smoke'}}
            {{fa-icon 'square' prefix='far' class='silver'}}
            {{#if preventMapInteractions}}{{fa-icon 'check' transform='right-2 up-2' class='a11y-orange'}}{{/if}}
          </span>
          Lock Map Interactions
        </label>
      </div>
      <div class="cell shrink">
        <button class="button tiny gray" onclick={{action 'fitBoundsToBuffer'}}>Reset</button>
      </div>
    </div>

    <button type="button" class="button project-save-button" onclick={{action 'saveProject' model}}>Save Map</button>
  </div>

  <div class="cell large-auto paper-container text-center">
    <div class="paper {{paperSize}} {{paperOrientation}} padding-7mm text-left">
      <div class="paper-grid grid-x">
        <div class="cell paper-sidebar">
          <div class="grid-y" style="height:100%;">
            <div class="cell shrink">
              <div class="grid-x">
                <div class="cell auto">
                  <h1 class="paper-project-name">{{model.project.projectName}} {{model.mapTypeLabel}}</h1>
                  <h2 class="paper-applicant">{{model.project.applicantName}}</h2>
                </div>
                <div class="cell shrink">
                  <div id="north-arrow-container">
                    <div id="north-arrow" style={{northArrowTransforms.arrow}} />
                    <div id="north-n" style={{northArrowTransforms.n}}><span class="n" style={{northArrowTransforms.nSpan}}>N</span></div>
                  </div>
                </div>
              </div>

            </div>
            <div class="cell shrink legend">
              {{yield (hash
                model=model
                mapConfiguration=mapConfiguration
                projectAreaSource=projectAreaSource
                projectBufferSource=projectBufferSource
                handleMapLoaded=(action 'handleMapLoaded')
                updateBounds=(action 'updateBounds')
                saveProject=(action 'saveProject'))}}
            </div>
            <section>
              <div>
                <h2 class="legend-section-header">Data Sources</h2>
                <ul>
                  {{#each mapConfiguration.sources as |source|}}
                    <li>
                      <p>
                        {{#if source.meta.description}}
                          <span class="dark-gray text-small"><strong>{{source.meta.description}}</strong></span>
                        {{/if}}
                        {{#if source.meta.url}}
                          {{#each source.meta.url as |url|}}
                            <span class="no-margin text-small"><a href="{{url}}" target="_blank">{{fa-icon 'external-link-alt'}}</a></span>
                          {{/each}}
                        {{/if}}
                        {{#if source.meta.updated_at}}
                          <span class="dark-gray text-small">Updated on: {{source.meta.updated_at}}</span>
                        {{/if}}
                      </p>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </section>


            <div class="cell auto">
              {{#if boundsPolygon}}
                {{inset-map boundsPolygon=boundsPolygon}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="cell auto">
          {{#labs-map
            id='main-map'
            initOptions=(hash
              style=mapConfiguration.meta.mapboxStyle
              zoom=12
              center=(array -73.983307 40.704977)
            )
            mapLoaded=(action 'handleMapLoaded') as |map|
          }}
            {{map.labs-layers layerGroups=mapConfiguration.layerGroups}}
            {{#map.source options=(mapbox-geojson-source model.project.developmentSite) as |source|}}
              {{source.layer
                layer=developmentSiteLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{#map.source options=(mapbox-geojson-source model.project.projectArea) as |source|}}
              {{source.layer
                layer=projectAreaLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{#map.source options=(mapbox-geojson-source model.project.projectGeometryBuffer) as |source|}}
              {{source.layer
                layer=projectBufferLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{map.on 'zoom' (action 'updateBounds')}}
            {{map.on 'drag' (action 'updateBounds')}}
            {{map.on 'pitch' (action 'updateBounds')}}
            {{map.on 'rotate' (action 'updateBounds')}}
          {{/labs-map}}

          {{!-- TODO: print a real permalink --}}
          <p class="text-medium text-right">
            <a href="">{{projectURL}}</a>
          </p>
        </div>

      </div>

    </div>
    <div class="size-display"></div>
  </div>
{{/if}}
