{{#if mapConfiguration}}
  <div class="cell sidebar">
    <h2 class="header-large">{{model.project.projectName}} <span class="nowrap">{{model.mapTypeLabel}}</span></h2>

    <div class="grid-x grid-margin-x">
      <div class="cell auto">
        <label onclick={{action 'toggleMapInteractions'}} class="inline">
          <span class="fa-layers">
            {{fa-icon 'square' class='white-smoke'}}
            {{fa-icon 'square' prefix='far' class='silver'}}
            {{#if preventMapInteractions}}{{fa-icon 'check' transform='right-2 up-2' class='a11y-orange'}}{{/if}}
          </span>
          Lock Map Interactions
        </label>
      </div>
      <div class="cell shrink">
        <button class="button tiny gray" onclick={{action 'fitBoundsToBuffer'}}>Reset</button>
      </div>
    </div>

    <h5>Paper Settings</h5>
    <p>
      <input type="radio" name="paper-orientation" class="portrait-radio-button" value="portrait" id="paper-orientation--portrait" checked={{eq model.paperOrientation "portrait"}} onclick={{action 'reorientPaper' 'portrait'}}/>
      <label for="paper-orientation--portrait">Portrait</label>
      <input type="radio" name="paper-orientation" class="landscape-radio-button" value="landscape" id="paper-orientation--landscape" checked={{eq model.paperOrientation "landscape"}}  onclick={{action 'reorientPaper' 'landscape'}}/>
      <label for="paper-orientation--landscape">Landscape</label>
    </p>
    <p>
      <input type="radio" name="paper-size" class="tabloid-radio-button" value="tabloid" id="paper-size--tabloid" checked={{eq model.paperSize "tabloid"}} onclick={{action 'scalePaper' 'tabloid'}}/>
      <label for="paper-size--tabloid">Tabloid</label>
      <input type="radio" name="paper-size" class="letter-radio-button" value="letter" id="paper-size--letter" checked={{eq model.paperSize "letter"}} onclick={{action  'scalePaper' 'letter'}}/>
      <label for="paper-size--letter">Letter</label>
    </p>

    <h5>Project Area Buffer</h5>
    <input type="radio" name="buffer-size" checked={{eq model.bufferSize "600"}} id="buffer-size--600" onclick={{action (mut model.bufferSize) '600'}}>
    <label for="buffer-size--600">600ft</label>
    <input type="radio" name="buffer-size" checked={{eq model.bufferSize "400"}} id="buffer-size--400" onclick={{action (mut model.bufferSize) '400'}}>
    <label for="buffer-size--400">400ft</label>

    <p class="text-tiny">Most ULURP area maps should show a buffer of 600 feet around the project area.  CEQR area maps should show a buffer of 400 feet.</p>

    <hr/>

    <div class="grid-x grid-margin-x align-middle">
      {{#link-to "projects.show" model.project class="cell shrink button small clear"}}{{fa-icon 'arrow-left'}} Go Back to Project{{/link-to}}
      <button class="cell auto button green project-save-button" type="button" onclick={{action 'saveProject'}}>Save Map</button>
    </div>

    <hr/>

    <div class="grid-x grid-margin-x">
      <p class="cell shrink medium-5"><button class="button gray expanded" type="button" onClick=print()>{{fa-icon 'print'}} Print</button></p>
      <p class="cell auto text-tiny dark-gray">Make sure your system's print settings enable printing background graphics and that the paper size and orientation match your map.</p>
    </div>

  </div>

  <div class="cell large-auto paper-container text-center">
    <div class="paper {{model.paperSize}} {{model.paperOrientation}} padding-7mm text-left">
      <div class="paper-grid grid-x">
        <div class="cell paper-sidebar">
          <div class="grid-y" style="height:100%;">
            <div class="cell shrink">
              <div class="grid-x">
                <div class="cell auto">
                  <h1 class="paper-project-name">{{model.project.projectName}} {{model.mapTypeLabel}}</h1>
                  <h2 class="paper-applicant">{{model.project.applicantName}}</h2>
                </div>
                <div class="cell shrink">
                  <div id="north-arrow-container">
                    <div id="north-arrow" style={{northArrowTransforms.arrow}} />
                    <div id="north-n" style={{northArrowTransforms.n}}><span class="n" style={{northArrowTransforms.nSpan}}>N</span></div>
                  </div>
                </div>
              </div>

            </div>
            <div class="cell shrink legend">
              {{yield}}
            </div>

            <section class="legend-section">
              <h2 class="legend-section-header">Data Sources</h2>
                <div class="grid-x">
                    <ul>
                      {{#each mapConfiguration.sources as |source|}}
                        <div class="data-sources-list">
                            <li>
                              <p>
                                {{#if source.meta.description}}
                                  <span class="dark-gray">{{source.meta.description}}</span>
                                {{/if}}
                                {{#if source.meta.url}}
                                  {{#each source.meta.url as |url|}}
                                    <span class="no-margin"><a href="{{url}}" target="_blank">{{fa-icon 'external-link-alt'}}</a></span>
                                  {{/each}}
                                {{/if}}
                                {{#if source.meta.updated_at}}
                                  <span class="dark-gray">Updated on: {{source.meta.updated_at}}</span>
                                {{/if}}
                              </p>
                            </li>
                        </div>
                      {{/each}}
                    </ul>
                </div>
            </section>

            <div class="cell auto">
              {{#if boundsPolygon}}
                {{inset-map boundsPolygon=boundsPolygon}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="cell auto">
          {{#labs-map
            id='main-map'
            initOptions=(hash
              style=mapConfiguration.meta.mapboxStyle
              zoom=12
              center=(array -73.983307 40.704977)
            )
            mapLoaded=(action 'handleMapLoaded') as |map|
          }}
            {{map.labs-layers layerGroups=mapConfiguration.layerGroups}}

            {{#map.source options=(mapbox-geojson-source model.project.developmentSite) as |source|}}
              {{source.layer
                layer=projectGeomLayers.developmentSiteLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{#map.source options=(mapbox-geojson-source model.project.projectArea) as |source|}}
              {{source.layer
                layer=projectGeomLayers.projectAreaLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{#map.source options=(mapbox-geojson-source model.projectGeometryBuffer) as |source|}}
              {{source.layer
                layer=projectGeomLayers.projectBufferLayer
                before='boundary_country'
              }}
            {{/map.source}}

            {{#if model.project.rezoningArea}}
              {{#map.source options=(mapbox-geojson-source model.project.rezoningArea) as |source|}}
                {{source.layer
                  layer=projectGeomLayers.rezoningAreaLayer
                  before='boundary_country'
                }}
              {{/map.source}}
            {{/if}}


            {{#if model.project.proposedZoning}}
              {{#map.source options=(mapbox-geojson-source model.project.proposedZoning) as |source|}}
                {{source.layer
                  layer=projectGeomLayers.proposedZoningLayer
                  before='boundary_country'
                }}
                {{source.layer
                  layer=projectGeomLayers.proposedZoningLabelsLayer
                  before='boundary_country'
                }}
              {{/map.source}}
            {{/if}}

            {{!-- Ad-hoc source and layer for showing commercial overlays --}}
            {{#if model.project.proposedCommercialOverlays}}
              {{#map.source options=(mapbox-geojson-source model.project.proposedCommercialOverlays) as |source|}}
                {{source.layer layer=projectGeomLayers.coLayer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c11Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c12Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c13Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c14Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c15Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c21Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c22Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c23Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c24Layer before='boundary_country'}}
                {{source.layer layer=projectGeomLayers.c25Layer before='boundary_country'}}
              {{/map.source}}
            {{/if}}

            {{!-- Ad-hoc source and layer for showing commercial overlays --}}
            {{#if model.project.proposedSpecialPurposeDistricts}}
              {{#map.source options=(mapbox-geojson-source model.project.proposedSpecialPurposeDistricts) as |source|}}
                {{source.layer
                  layer=projectGeomLayers.proposedSpecialPurposeDistrictsLayer
                  before='boundary_country'
                }}
                {{source.layer
                  layer=projectGeomLayers.proposedSpecialPurposeDistrictsLabelsLayer
                  before='boundary_country'
                }}
              {{/map.source}}
            {{/if}}

            {{map.on 'zoom' (action 'updateBounds')}}
            {{map.on 'drag' (action 'updateBounds')}}
            {{map.on 'pitch' (action 'updateBounds')}}
            {{map.on 'rotate' (action 'updateBounds')}}
          {{/labs-map}}

          <p class="text-medium text-right">
            <a href="">{{projectURL}}</a>
          </p>
        </div>

      </div>

    </div>
    <div class="size-display"></div>
  </div>
{{/if}}
