<div class="cell sidebar map-sidebar">
  {{!-- EMBER WORMHOLE CONTAINER --}}
  {{!-- The geometry type component will fill this div with markup once invoked --}}
  <div id="geometry-type-draw-explainer">
  </div>

  {{!-- EMBER WORMHOLE CONTAINER --}}
  <div id="geometry-type-save-box">
  </div>

</div>
<div class="cell large-auto map-container">
  {{#project-geometries/layer-groups tagName='' as |projectMapForm|}}
    {{#labs-map
      id='main-map'
      initOptions=(hash
        style=projectMapForm.model.meta.mapboxStyle
        zoom=12
        center=(array -73.983307 40.704977)
        pitchWithRotate=false
      )
      mapLoaded=(action 'handleMapLoad') as |map|}}

      {{search-handler
        map=map}}

      {{!-- labs-layers (includes tax-lots layer) --}}
      {{#map.labs-layers
        layerGroups=projectMapForm.model.layerGroups
        as |layers|}}
        {{#layers.tooltip as |tooltip|}}
          {{tooltip-renderer
            feature=tooltip.feature
            template=tooltip.layer.tooltipTemplate}}
        {{/layers.tooltip}}
      {{/map.labs-layers}}

      {{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
        {{source.layer
          layer=developmentSiteLayer
          before='boundary_country'
        }}
      {{/map.source}}

      {{#map.source options=(mapbox-geojson-source model.projectArea) as |source|}}
        {{source.layer
          layer=projectAreaLayer
          before='boundary_country'
        }}
      {{/map.source}}

      {{!-- invoke the component for the specified type --}}
      {{component projectGeometryType
        model=model
        mode=mode
        map=map}}

      {{!-- transport this markup when map is done loading --}}
      {{#ember-wormhole to='geometry-type-save-box'}}
        <div class="stable">
          {{#if (eq mode 'lots')}}
            {{#link-to 'projects.edit.geometry-edit' model.id (query-params mode='draw')
              tagName='button'
              class='button gray expanded'
              disabled=(not model.hasDirtyAttributes)
            }}
              Switch to Manual Drawing
              <small style="display:block;line-height:1.75;">
                (edit the shape with draw tools)
              </small>
            {{/link-to}}
          {{/if}}
        </div>
      {{/ember-wormhole}}
    {{/labs-map}}
  {{/project-geometries/layer-groups}}
</div>
