<div class="cell sidebar map-sidebar">
  {{!-- EMBER WORMHOLE CONTAINER --}}
  {{!-- The geometry type component will fill this div with markup once invoked --}}
  <div id="geometry-type-draw-explainer">
  </div>

  {{!-- EMBER WORMHOLE CONTAINER --}}
  <div id="geometry-type-save-box">
  </div>

</div>
<div class="cell large-auto map-container">
  {{#if layerGroups}}
    {{#labs-map
      id='main-map'
      initOptions=(hash
        style=layerGroups.meta.mapboxStyle
        zoom=12
        center=(array -73.983307 40.704977)
        pitchWithRotate=false
      )
      mapLoaded=(action 'handleMapLoad') as |map|}}

      {{!-- Wrap drawable components and pass as context --}}
      {{#mapbox-gl-draw map=map as |drawableMap|}}
        {{search-handler
          map=map}}

        {{!-- labs-layers (includes tax-lots layer) --}}
        {{#map.labs-layers
          layerGroups=layerGroups.layerGroups
          as |layers|}}
          {{#layers.tooltip as |tooltip|}}
            {{tooltip-renderer
              feature=tooltip.feature
              template=tooltip.layer.tooltipTemplate}}
          {{/layers.tooltip}}
        {{/map.labs-layers}}

        {{!-- pass type and mode to invoke both --}}
        {{project-geometries/types
          type=type
          model=model
          mode=mode
          map=drawableMap}}
      {{/mapbox-gl-draw}}
    {{/labs-map}}
  {{/if}}

  {{#if
    (or
      (not (is-empty model.developmentSite))
      (not (is-empty model.projectArea))
      (not (is-empty model.underlyingZoning))
      (not (is-empty model.specialPurposeDistricts))
      (not (is-empty model.rezoningArea))
    )
  }}
    <ul class="over-map-legend no-bullet">
      {{#if (not (is-empty model.developmentSite))}}
        <li><strong>Development Site</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.developmentSiteIcon}}</li>
      {{/if}}
      {{#if (not (is-empty model.projectArea))}}
        <li><strong>Project Area</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.projectAreaIcon}}</li>
      {{/if}}
      {{#if (not (is-empty model.underlyingZoning))}}
        <li><strong>Underlying Zoning</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.underlyingZoningIcon}}</li>
      {{/if}}
      {{#if (not (is-empty model.specialPurposeDistricts))}}
        <li><strong>Special Purpose Districts</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.specialPurposeDistrictsIcon}}</li>
      {{/if}}
      {{#if (not (is-empty model.rezoningArea))}}
        <li><strong>Rezoning Area</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.rezoningAreaIcon}}</li>
      {{/if}}
    </ul>
  {{/if}}
</div>
