<div class="cell medium-5 large-3 sidebar">

  <h2 class="header-small">Project Information</h2>

  <hr/>

  <label class="text-small">Title
    <sup>
      {{icon-tooltip tip='Please use the name provided at the Informational Meeting with the Department of City Planning or the Project Address.'}}
    </sup>
    {{input type="text" class='project-name-field' value=model.projectName}}
  </label>

  <label class="text-small">Applicant Name
    {{input type="text" class='applicant-name-field' value=model.applicantName}}
  </label>

  <label class="text-small">Project Number
    <sup>
      {{icon-tooltip tip='The Project Number refers to the unique code provided for a project following an Informational Interest Meeting with the Department of City Planning.'}}
    </sup>
    {{input type="text" class='zap-project-id-field' value=model.zapProjectId}}
  </label>

  <label class="text-small">Description
    {{textarea class='zap-project-description-field' value=model.description rows="3"}}
  </label>

  <h2 class="header-small">Project Geometries</h2>

  {{#if mapInstance}}
    {{#project-geometries-menu
      model=model
      mapInstance=mapInstance
      selectedLots=selectedLots
      lotSelectionMode=lotSelectionMode
      geometryMode=geometryMode
      as |menu|}}
      {{menu.draw-control
        mode="developmentSite"
        modeDisplayName="Development Site"
        tooltip="The Development Site refers to the zoning lot(s) to be improved by the specific development(s) that the land use actions would facilitate."
        hasGeom=model.developmentSite
      }}

      {{menu.draw-control
        mode="projectArea"
        modeDisplayName="Project Area"
        tooltip="The Project Area refers to all properties that would be subject to the proposed actions. The Project Area should only be used if it is larger than the Development Site."
        hasGeom=model.projectArea
      }}

      {{menu.draw-control
        mode="rezoningArea"
        modeDisplayName="Rezoning Area"
        tooltip="When drawing, the Rezoning Area Boundary should be graphically offset from the proposed Zoning District Boundaries. This area refers to all property subject to the proposed amendment to existing Zoning Districts and Boundaries."
        hasGeom=model.rezoningArea
      }}
    {{/project-geometries-menu}}
  {{/if}}

  <button type="button" class="button expanded project-save-button" disabled={{not model.isValid}} onclick={{action 'save' model}}>Save Project</button>

</div>
<div class="cell medium-7 large-9 map-container">
  {{#project-map-form tagName='' as |projectMapForm|}}
    {{#labs-map
      id='main-map'
      initOptions=(hash
        style=projectMapForm.model.meta.mapboxStyle
        zoom=12
        center=(array -73.983307 40.704977)
      )
      mapLoaded=(action handleMapLoad) as |map|}}

      <div class="search-and-bbl-lookup-container">
        {{#labs-search
          searchPlaceholder='Search for Address...'
          onSelect=(action 'selectSearchResult')
          typeTitleLookup=(hash
            lot='Addresses')
          onClear=(action (mut geocodedFeature null)) as |search|}}
          <small class="dark-gray">{{search.result.label}}</small>
        {{/labs-search}}
        {{bbl-lookup flyTo=(action 'flyTo')}}
      </div>

      {{log geometryMode}}

      {{#if (and (not-eq geometryMode null) (eq isSelectingLots false))}}
        {{#if (eq showDrawInstructions true)}}
          <div class="text-small draw-instruction-box">
            <div class="content-close-button-container" onclick={{action 'hideInstructions'}}>{{fa-icon 'window-close'}}</div>
            Click on the map to begin drawing, finish drawing by double clicking.
            To edit the boundary, select the vertices of the shape and drag to a new location.
            Delete your drawing by clicking on the trash button on the draw controls to the left.
          </div>
        {{/if}}
      {{/if}}

      {{#if geocodedFeature}}
        {{#map.source options=geocodedFeature as |source|}}
          {{source.layer layer=geocodedLayer}}
        {{/map.source}}
      {{/if}}

        {{!-- labs-layers (includes tax-lots layer) --}}
        {{#map.labs-layers
          layerGroups=projectMapForm.model.layerGroups
          onLayerClick=(action 'handleLayerClick')
          as |layers|}}
            {{#layers.tooltip as |tooltip|}}
              {{tooltip-renderer feature=tooltip.feature template=tooltip.layer.tooltipTemplate}}
            {{/layers.tooltip}}
        {{/map.labs-layers}}

        {{!-- Ad-hoc source and layer for developmentSite --}}
        {{#if (and model.developmentSite (not-eq geometryMode "developmentSite"))}}
          {{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
            {{source.layer
              layer=projectGeomLayers.developmentSiteLayer
              before='boundary_country'
            }}
          {{/map.source}}
        {{/if}}

        {{!-- Ad-hoc source and layer for projectArea --}}
        {{#if (and model.projectArea (not-eq geometryMode "projectArea"))}}
          {{#map.source options=(mapbox-geojson-source model.projectArea) as |source|}}
            {{source.layer
              layer=projectGeomLayers.projectAreaLayer
              before='boundary_country'
            }}
          {{/map.source}}
        {{/if}}

        {{!-- Ad-hoc source and layer for projectArea --}}
        {{#if (and model.rezoningArea (not-eq geometryMode "rezoningArea"))}}
          {{#map.source options=(mapbox-geojson-source model.rezoningArea) as |source|}}
            {{source.layer
              layer=projectGeomLayers.rezoningAreaLayer
              before='boundary_country'
            }}
          {{/map.source}}
        {{/if}}

        {{!-- Ad-hoc source and layer for showing selected lots in lot selection mode --}}
        {{#map.source options=selectedLotsSource as |source|}}
          {{source.layer
            layer=selectedLotsLayer
            before='boundary_country'
          }}
        {{/map.source}}
    {{/labs-map}}
  {{/project-map-form}}
</div>
