<div class="draw-controls">
  <button class="polygon {{if (eq drawMode 'draw_polygon') 'active'}}" {{action 'handleDrawButtonClick'}}>
    {{fa-icon 'draw-polygon' size='2x' fixedWidth=true}}
  </button>
  <button class="trash" {{action 'handleTrashButtonClick'}}>
    {{fa-icon 'trash-alt' prefix='far' size='2x' fixedWidth=true}}
  </button>
</div>

{{yield (hash
  feature-label-form=(component 'project-geometries/modes/draw/feature-label-form'
    selectedFeature=selectedFeature
    updateSelectedFeature=(action 'updateSelectedFeature')
  )
  button=(component 'project-geometries/utils/button'
    data-test-project-geometry-save=true
  )
)}}
