{{log 'currentTool' currentTool}}

{{#ember-wormhole to="draw-controls"}}
  <button class="polygon {{if (eq currentTool 'draw_polygon') 'active'}}" {{action 'handleDrawButtonClick'}}>
    {{fa-icon 'draw-polygon' size='2x' fixedWidth=true}}
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip"}}
      <h5 class="small-margin-bottom">Polygon</h5>
      <p class="small-margin-bottom">Add a new shape. Complete it by clicking the final vertex a 2nd time.</p>
      <p class="no-margin text-tiny">Edit an existing shape by selecting it and dragging its vertices. Add a vertex by clicking the midpoint of a line.</p>
    {{/ember-tooltip}}
  </button>
{{/ember-wormhole}}

{{!-- We need this twice so alias it in a let and pass it down in two spots --}}
{{#let
  (component 'project-geometries/modes/draw/feature-label-form'
    selectedFeature=selectedFeature
    updateSelectedFeature=(action 'updateSelectedFeature')
    drawStateCallback=(action drawStateCallback))
  (get selectedFeature.features.firstObject.properties 'meta:mode')
    as |feature-label-form selected-annotation-mode|}}
  {{!-- Do not yield out feature-label-form if the feature is a non-label annotation --}}
  {{yield (hash
    feature-label-form=(if (or (not selected-annotation-mode) (eq selected-annotation-mode 'draw_annotations:label'))
      feature-label-form
    )
    annotations=(component 'project-geometries/modes/draw/annotations'
      handleAnnotation=(action 'handleAnnotation')
      currentTool=currentTool
    )
  )}}
{{/let}}

{{#ember-wormhole to="draw-controls"}}
  <button class="trash" {{action 'handleTrashButtonClick'}}>
    {{fa-icon 'trash-alt' prefix='far' size='2x' fixedWidth=true}}
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip"}}
      <h5 class="small-margin-bottom">Trash</h5>
      <p class="no-margin">Delete a selected shape or vertex</p>
    {{/ember-tooltip}}
  </button>
{{/ember-wormhole}}
