{{#if (eq mode 'lots')}}
  {{!-- add the development-specific tax-lots layergroup --}}
  {{#map.labs-layers
    layerGroups=(array taxLots)
    onLayerClick=(action 'handleLayerClick')
    as |layers|}}
    {{#layers.tooltip as |tooltip|}}
      {{tooltip-renderer
        feature=tooltip.feature
        template=tooltip.layer.tooltipTemplate}}
    {{/layers.tooltip}}
  {{/map.labs-layers}}

  {{!-- Ad-hoc source and layer for showing selected lots in lot selection mode --}}
  {{#map.source options=selectedLotsSource as |source|}}
    {{source.layer
      layer=selectedLotsLayer
      before='boundary_country'
    }}
  {{/map.source}}
{{/if}}

{{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
  {{source.layer
    layer=developmentSiteLayer
    before='boundary_country'
  }}
{{/map.source}}

{{#ember-wormhole to='geometry-type-save-box'}}
  <button
    type="button"
    class="button large green expanded project-save-button"
    disabled={{not model.isValid}}
    onclick={{action 'save' model}}
  >
    Save Project
  </button>
{{/ember-wormhole}}

{{yield}}
