<div class="cell medium-5 large-3 sidebar">
  <label class="text-small">Project Title
    {{input type="text" class='project-name-field' value=model.projectName}}
  </label>

  <label class="text-small">Applicant Name
    {{input type="text" class='applicant-name-field' value=model.applicantName}}
  </label>

  <label class="text-small">ZAP Project ID
    {{input type="text" class='zap-project-id-field' value=model.zapProjectId}}
  </label>

  <label class="text-small">Description
    {{textarea class='zap-project-description-field' value=model.description rows="3"}}
  </label>

  <label class="text-small">Project Geometries</label>

  {{#if (eq projectGeometryMode 'developmentSite')}}
    <div class="callout">
      {{#if lotSelectionMode}}
        <p class="text-small">Click individual tax lots to toggle their selection OR use the drawing tools to select multiple lots at once.</p>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small" {{action 'finishLotSelection'}}>Make Selection</button>
          <button class="cell shrink button small alert clear" {{action (mut isSelectingLots) false}}>Cancel</button>
        </div>
      {{else}}
        <p class="text-small">Use the drawing tools on the map to define the development site OR&hellip;</p>
        <button class="button gray expanded" {{action "startLotSelection"}}>Select Tax Lots</button>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small" {{action 'setProjectGeometry'}}>Done</button>
          <button class="cell shrink button small alert clear" {{action 'toggleGeometryEditing' 'developmentSite'}}>Cancel</button>
        </div>
      {{/if}}
    </div>
  {{else}}
    <button class="button expanded" {{action 'toggleGeometryEditing' 'developmentSite'}}>{{fa-icon 'plus'}} Add Development Site</button>
  {{/if}}

  {{#if (eq projectGeometryMode 'projectArea')}}
    <div class="callout">
      {{#if lotSelectionMode}}
        <p class="text-small">Click individual tax lots to toggle their selection OR use the drawing tools to select multiple lots at once.</p>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small" {{action 'finishLotSelection'}}>Make Selection</button>
          <button class="cell shrink button small alert clear" {{action (mut isSelectingLots) false}}>Cancel</button>
        </div>
      {{else}}
        <p class="text-small">Use the drawing tools on the map to define the development site OR&hellip;</p>
        <button class="button gray expanded" {{action "startLotSelection"}}>Select Tax Lots</button>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small" {{action 'setProjectGeometry'}}>Done</button>
          <button class="cell shrink button small alert clear" {{action 'toggleGeometryEditing' 'projectArea'}}>Cancel</button>
        </div>
      {{/if}}
    </div>
  {{else}}
    <button class="button expanded" {{action 'toggleGeometryEditing' 'projectArea'}}>{{fa-icon 'plus'}} Add Project Area</button>
  {{/if}}

  {{#if (eq  projectGeometryMode 'rezoningArea')}}
    <div class="callout">
      {{#if isSelectingLots}}
        <p class="text-small">Click individual tax lots to toggle their selection OR use the drawing tools to select multiple lots at once.</p>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small">Make Selection</button>
          <button class="cell shrink button small alert clear" {{action (mut isSelectingLots) false}}>Cancel</button>
        </div>
      {{else}}
        <p class="text-small">Use the drawing tools on the map to define the development site OR&hellip;</p>
        <button class="button gray expanded" {{action (mut isSelectingLots) true}}>Select Tax Lots</button>
        <div class="grid-x grid-margin-x">
          <button class="cell auto button small" {{action (mut isAddingRezoningArea) false}}>Done</button>
          <button class="cell shrink button small alert clear" {{action (mut isAddingRezoningArea) false}}>Cancel</button>
        </div>
      {{/if}}
    </div>
  {{else}}
    <button class="button expanded" {{action (mut isAddingRezoningArea) true}}>{{fa-icon 'plus'}} Add Rezoning Area</button>
  {{/if}}


  <p class="text-center"><button type="button" class="button gray" onclick={{action 'handleDrawButtonClick' model}}>Draw</button></p>


  <button type="button" class="button expanded project-save-button" disabled={{not model.isValid}} onclick={{action 'save' model}}>Create Project</button>

</div>
<div class="cell medium-7 large-9 map-container">
  {{#project-map-form tagName='' as |projectMapForm|}}
    {{#labs-map
      id='main-map'
      initOptions=(hash
        style=projectMapForm.model.meta.mapboxStyle
        zoom=12
        center=(array -73.983307 40.704977)
      )
      mapLoaded=(action handleMapLoad) as |map|}}

        {{map.labs-layers
          layerGroups=projectMapForm.model.layerGroups
          onLayerClick=(action 'handleLayerClick')
        }}

        {{!-- Ad-hoc source and layer for developmentSite --}}
        {{#if model.developmentSite}}
          {{#map.source options=developmentSiteSource as |source|}}
            {{source.layer
              layer=developmentSiteLayer
              before='boundary_country'
            }}
          {{/map.source}}
        {{/if}}

        {{!-- Ad-hoc source and layer for projectArea --}}
        {{#if model.projectArea}}
          {{#map.source options=projectAreaSource as |source|}}
            {{source.layer
              layer=projectAreaLayer
              before='boundary_country'
            }}
          {{/map.source}}
        {{/if}}

        {{!-- Ad-hoc source and layer for showing selected lots in lot selection mode --}}
        {{#map.source options=selectedLotsSource as |source|}}
          {{source.layer
            layer=selectedLotsLayer
            before='boundary_country'
          }}
        {{/map.source}}

        {{!-- {{map.on 'draw.create' (action "setProjectGeometry")}} --}}
        {{!-- {{map.on 'draw.update' (action "setProjectGeometry")}} --}}
    {{/labs-map}}
  {{/project-map-form}}
</div>

{{outlet}}
