<div class="cell">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell medium-4">

      <h1>{{model.projectName}}</h1>
      <ul>
        <li><strong>Applicant:</strong> {{model.applicantName}}</li>
        <li><strong>Project ID:</strong> {{model.zapProjectId}}</li>
        <li><strong>Description:</strong> {{model.description}}</li>
      </ul>
      {{#mapbox-gl
          id='project-map'
          mapLoaded=(action 'handleMapLoad')
          initOptions=(hash
            zoom=15.479951257235973
            center=(array -73.96532400540775 40.709710016659386)
            bearing=20.97777777785973
          )
          as | map |
        }}
          {{!-- Ad-hoc source and layer for developmentSite --}}
          {{#if model.developmentSite}}
            {{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
              {{source.layer
                layer=projectGeomLayers.developmentSiteLayer
                before='boundary_country'
              }}
            {{/map.source}}
          {{/if}}

          {{!-- Ad-hoc source and layer for projectArea --}}
          {{#if model.projectArea}}
            {{#map.source options=(mapbox-geojson-source model.projectArea) as |source|}}
              {{source.layer
                layer=projectGeomLayers.projectAreaLayer
                before='boundary_country'
              }}
            {{/map.source}}
          {{/if}}

          {{!-- Ad-hoc source and layer for projectArea --}}
          {{#if model.rezoningArea}}
            {{#map.source options=(mapbox-geojson-source model.rezoningArea) as |source|}}
              {{source.layer
                layer=projectGeomLayers.rezoningAreaLayer
                before='boundary_country'
              }}
            {{/map.source}}
          {{/if}}
        {{/mapbox-gl}}
      {{#link-to 'projects.edit' model.id tagName='div'}}
        <button class="button expanded gray">Edit Project</button>
      {{/link-to}}

    </div>
    <div class="cell auto">

      {{!-- Existing maps --}}
      <h3 class="">Existing Maps</h3>
      <p>Choose one of your existing project maps to view, print, or edit.</p>
      <div class="grid-x grid-padding-x medium-up-3">
        {{#each model.applicantMaps as |map|}}
          <div class="cell">
            {{#link-to 'projects.edit.map.edit' map tagName='div' class='card link text-center' role='button'}}
              <img src="/img/sample-map-1.gif" alt="Sample Map" />
              <div class="card-section">
                {{map.id}}
              </div>
            {{/link-to}}
          </div>
        {{/each}}
      </div>

      <hr>

      {{!-- New Maps --}}
      <h3 class="">Add New Map</h3>
      <p>Choose the type of map you would like to add to your project.</p>
      <div class="grid-x grid-padding-x medium-up-2 large-up-4">
        <div class="cell">
          {{#link-to 'projects.edit.map.new' model.id tagName='div' class='card link text-center'}}
            <div class="card-divider bg-green-muted green-light align-center">
              {{fa-icon 'plus' size='3x' class=''}}
            </div>
            <div class="card-section">
              Area
            </div>
          {{/link-to}}
        </div>
        <div class="cell">
          <div class="card link text-center">
              <div class="card-divider bg-green-muted green-light align-center">
                {{fa-icon 'plus' size='3x' class=''}}
              </div>
            <div class="card-section">
              Tax
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card link text-center">
              <div class="card-divider bg-green-muted green-light align-center">
                {{fa-icon 'plus' size='3x' class=''}}
              </div>
            <div class="card-section">
              Zoning Change
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card link text-center">
              <div class="card-divider bg-green-muted green-light align-center">
                {{fa-icon 'plus' size='3x' class=''}}
              </div>
            <div class="card-section">
              Zoning Section
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{{outlet}}
