<div class="cell sidebar">

  {{project-setup-status project=model}}

  <h4 class="header-small">Project Maps</h4>
  {{link-to 'Area Map' 'projects.edit.map.edit' model.id (query-params mapType=(dasherize 'Area Map'))
    data-test-add-area-map
    class='button large expanded map-type-area-map'
  }}

</div>
<div class="cell large-auto dashboard">

  <div class="grid-x">
    <div class="cell xlarge-auto">

      {{#mapbox-gl
          id='dashboard-map'
          mapLoaded=(action 'handleMapLoad')
          initOptions=(hash
            zoom=15.479951257235973
            center=(array -73.96532400540775 40.709710016659386)
            bearing=20.97777777785973
            pitchWithRotate=false
          )
          as | map |
        }}
        {{project-geometry-renderer map=map model=model}}
      {{/mapbox-gl}}

    </div>
    <div class="cell xlarge-shrink dashboard-controls">
      <h6>Your proposed changes</h6>
      {{!-- Development Site --}}
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Development Site</strong>
          {{#if (not (is-empty model.developmentSite))}}
            {{labs-ui/legend-icon icon=developmentSiteIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{#if (not (is-empty model.developmentSite))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
            {{#ember-popover
              data-test-development-site
              event='click'
              side='left'
              tooltipClassName='ember-popover dark'
              as |popover|
            }}
              {{link-to 'Select Lots' 'projects.edit.geometry-edit' model
                (query-params type='development-site' mode='lots')
                data-test-lots
                tagName='button'
                classNames='button tiny gray no-margin'}}
              {{link-to 'Draw Manually' 'projects.edit.geometry-edit' model
                (query-params type='development-site' mode='draw')
                data-test-draw
                tagName='button'
                classNames='button tiny gray no-margin'}}
            {{/ember-popover}}
          </button>
        </div>
        {{#if (not (is-empty model.developmentSite))}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{action (mut model.developmentSite) EmptyFeatureCollection}}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Project Area --}}
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Project Area</strong>
          {{#if (not (is-empty model.projectArea))}}
            {{labs-ui/legend-icon icon=projectAreaIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{#if (not (is-empty model.projectArea))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
            {{#ember-popover
              data-test-project-area
              event='click'
              side='left'
              tooltipClassName='ember-popover dark'
              as |popover|
            }}
              {{link-to 'Select Lots' 'projects.edit.geometry-edit' model
                (query-params type='project-area' mode='lots')
                data-test-lots
                tagName='button'
                classNames='button tiny gray no-margin'}}
              {{link-to 'Draw Manually' 'projects.edit.geometry-edit' model
                (query-params type='project-area' mode='draw')
                data-test-draw
                tagName='button'
                classNames='button tiny gray no-margin'}}
            {{/ember-popover}}
          </button>
        </div>
        {{#if (not (is-empty model.projectArea))}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{action (mut model.projectArea) EmptyFeatureCollection}}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Underlying Zoning --}}
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Underlying Zoning</strong>
          {{#if (not (is-empty model.underlyingZoning))}}
            {{labs-ui/legend-icon icon=underlyingZoningIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          {{#link-to 'projects.edit.geometry-edit' model
            (query-params type='underlying-zoning' mode='draw')
            data-test-underlying-zoning
            tagName='button'
            classNames='button tiny gray no-margin'}}
            {{#if (not (is-empty model.underlyingZoning))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
          {{/link-to}}
        </div>
        {{#if (not (is-empty model.underlyingZoning))}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{action (mut model.underlyingZoning) EmptyFeatureCollection}}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Commercial Overlays --}}
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Commercial Overlays</strong>
          {{#if (not (is-empty model.commercialOverlays))}}
            <div class="legend-icon">
              <div class="sprite c1-1"></div>
              <div class="sprite c2-3"></div>
            </div>
          {{/if}}
        </div>
        <div class="cell shrink">
          {{#link-to 'projects.edit.geometry-edit' model
            (query-params type='commercial-overlays' mode='draw')
            data-test-commercial-overlays
            tagName='button'
            classNames='button tiny gray no-margin'}}
            {{#if (not (is-empty model.commercialOverlays))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
          {{/link-to}}
        </div>
        {{#if (not (is-empty model.commercialOverlays))}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{action (mut model.commercialOverlays) EmptyFeatureCollection}}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Special Purpose Districts --}}
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Special Purpose Districts</strong>
          {{#if (not (is-empty model.specialPurposeDistricts))}}
            {{labs-ui/legend-icon icon=specialPurposeDistrictsIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          {{#link-to 'projects.edit.geometry-edit' model
            (query-params type='special-purpose-districts' mode='draw')
            data-test-special-purpose-districts
            tagName='button'
            classNames='button tiny gray no-margin'}}
            {{#if (not (is-empty model.specialPurposeDistricts))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
          {{/link-to}}
        </div>
        {{#if (not (is-empty model.specialPurposeDistricts))}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{action (mut model.specialPurposeDistricts) EmptyFeatureCollection}}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Rezoning Area --}}
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Rezoning Area</strong>
          {{#if (not (is-empty model.rezoningArea))}}
            {{labs-ui/legend-icon icon=rezoningAreaIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          {{#link-to 'projects.edit.geometry-edit' model
            (query-params type='rezoning-area' mode='draw')
            data-test-rezoning-area
            tagName='button'
            classNames='button tiny gray no-margin'}}
            {{#if (not (is-empty model.rezoningArea))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
          {{/link-to}}
        </div>
        {{#if (not (is-empty model.rezoningArea))}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{action (mut model.rezoningArea) EmptyFeatureCollection}}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

    </div>
  </div>
</div>

{{outlet}}
