<div class="cell sidebar">

  {{project-setup-status project=model}}

  <hr />

  <p class="lead">From this dashboard, you can edit your proposed geometries and view, print, or download your project maps.</p>

  <p class="text-small dark-gray">* <em>Currently, this tool only produces an Area Map. But more applicant maps are coming soon.</em></p>

</div>
<div class="cell large-auto dashboard">

  <div class="grid-x">
    <div class="cell xlarge-auto">

      {{#labs-map
          id='dashboard-map'
          mapLoaded=(action 'handleMapLoad')
          initOptions=(hash
            zoom=15.479951257235973
            center=(array -73.96532400540775 40.709710016659386)
            bearing=20.97777777785973
            pitchWithRotate=false
          )
          as | map |
        }}
        {{project-geometry-renderer map=map model=model}}
        {{map.labs-layers layerGroups=(array taxLotsLayerGroup)}}
      {{/labs-map}}

    </div>
    <div class="cell xlarge-4 dashboard-controls">
      <h4 class="">Proposed Geometries</h4>

      {{!-- Development Site --}}
      <div class="grid-x control">
        <div class="cell auto">
          <span class="{{if (not (is-empty model.developmentSite)) 'text-weight-bold charcoal' 'gray'}}">
            Development Site
          </span>
          {{#if (not (is-empty model.developmentSite))}}
            {{labs-ui/legend-icon icon=projectGeometryIcons.developmentSiteIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{#if (not (is-empty model.developmentSite))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
            {{#ember-popover
              data-test-development-site
              event='click'
              side='left'
              tooltipClassName='ember-popover dark'
              as |popover|
            }}
              {{link-to 'Select Lots' 'projects.edit.geometry-edit' model
                (query-params type='development-site' mode='lots')
                data-test-lots
                tagName='button'
                classNames='button tiny gray no-margin'}}
              {{link-to 'Draw Manually' 'projects.edit.geometry-edit' model
                (query-params type='development-site' mode='draw')
                data-test-draw
                tagName='button'
                classNames='button tiny gray no-margin'}}
            {{/ember-popover}}
          </button>
        </div>
      </div>

      {{!-- Project Area --}}
      <div class="grid-x control">
        <div class="cell auto">
          <span class="{{if (not (is-empty model.projectArea)) 'text-weight-bold charcoal' 'gray'}}">
            Project Area
          </span>
          {{#if (not (is-empty model.projectArea))}}
            {{labs-ui/legend-icon icon=projectGeometryIcons.projectAreaIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{#if (not (is-empty model.projectArea))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
            {{#ember-popover
              data-test-project-area
              event='click'
              side='left'
              tooltipClassName='ember-popover dark'
              as |popover|
            }}
              {{link-to 'Select Lots' 'projects.edit.geometry-edit' model
                (query-params type='project-area' mode='lots')
                data-test-lots
                tagName='button'
                classNames='button tiny gray no-margin'}}
              {{link-to 'Draw Manually' 'projects.edit.geometry-edit' model
                (query-params type='project-area' mode='draw')
                data-test-draw
                tagName='button'
                classNames='button tiny gray no-margin'}}
            {{/ember-popover}}
          </button>
        </div>
        {{#if (not (is-empty model.projectArea))}}
          <div class="cell shrink">
            <button data-test-delete-project-area
              class="button tiny gray no-margin"
              onclick={{action deleteProjectArea}}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Underlying Zoning --}}
      <div class="grid-x control">
        <div class="cell auto">
          <span class="{{if model.needUnderlyingZoning 'text-weight-bold charcoal' 'gray'}}">
            Underlying Zoning
          </span>
          {{#if model.needUnderlyingZoning}}
            {{labs-ui/legend-icon icon=projectGeometryIcons.underlyingZoningIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          <span {{action (mut model.needUnderlyingZoning) true }}>
            {{#link-to 'projects.edit.geometry-edit' model
              (query-params type='underlying-zoning' mode='draw')
              data-test-underlying-zoning
              tagName='button'
              classNames='button tiny gray no-margin'}}
              {{#if model.needUnderlyingZoning}}
                Edit
              {{else}}
                {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
              {{/if}}
            {{/link-to}}
          </span>
        </div>
        {{#if model.needUnderlyingZoning}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{ action deleteUnderlyingZoning }}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Commercial Overlays --}}
      <div class="grid-x control">
        <div class="cell auto">
          <span class="{{if model.needCommercialOverlay 'text-weight-bold charcoal' 'gray'}}">
            Commercial Overlays
          </span>
          {{#if model.needCommercialOverlay}}
            <div class="legend-icon">
              <div class="sprite c1-1"></div>
              <div class="sprite c2-3"></div>
            </div>
          {{/if}}
        </div>
        <div class="cell shrink">
          <span {{action (mut model.needCommercialOverlay) true}}>
            {{#link-to 'projects.edit.geometry-edit' model
              (query-params type='commercial-overlays' mode='draw')
              data-test-commercial-overlays
              tagName='button'
              classNames='button tiny gray no-margin'}}
              {{#if model.needCommercialOverlay}}
                Edit
              {{else}}
                {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
              {{/if}}
            {{/link-to}}
          </span>
        </div>
        {{#if model.needCommercialOverlay}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{ action deleteCommercialOverlay }}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Special Purpose Districts --}}
      <div class="grid-x control">
        <div class="cell auto">
          <span class="{{if model.needSpecialDistrict 'text-weight-bold charcoal' 'gray'}}">
            Special Purpose Districts
          </span>
          {{#if model.needSpecialDistrict}}
            {{labs-ui/legend-icon icon=projectGeometryIcons.specialPurposeDistrictsIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          <span {{action (mut model.needSpecialDistrict) true}}>
            {{#link-to 'projects.edit.geometry-edit' model
              (query-params type='special-purpose-districts' mode='draw')
              data-test-special-purpose-districts
              tagName='button'
              classNames='button tiny gray no-margin'}}
              {{#if model.needSpecialDistrict}}
                Edit
              {{else}}
                {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
              {{/if}}
            {{/link-to}}
          </span>
        </div>
        {{#if model.needSpecialDistrict}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{ action  deleteSpecialDistrict }}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      {{!-- Rezoning Area --}}
      <div class="grid-x control">
        <div class="cell auto">
          <span class="{{if (not (is-empty model.rezoningArea)) 'text-weight-bold charcoal' 'gray'}}">
            Rezoning Area
          </span>
          {{#if (not (is-empty model.rezoningArea))}}
            {{labs-ui/legend-icon icon=projectGeometryIcons.rezoningAreaIcon}}
          {{/if}}
        </div>
        <div class="cell shrink">
          {{#link-to 'projects.edit.geometry-edit' model
            (query-params type='rezoning-area' mode='draw')
            data-test-rezoning-area
            tagName='button'
            classNames='button tiny gray no-margin'}}
            {{#if (not (is-empty model.rezoningArea))}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
          {{/link-to}}
        </div>
        {{#if (not (is-empty model.rezoningArea))}}
          <div class="cell shrink">
            <button
              class="button tiny gray no-margin"
              onclick={{action (mut model.rezoningArea) EmptyFeatureCollection}}
            >
              {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
            </button>
          </div>
        {{/if}}
      </div>

      <hr />

      <h4 class="">Project Maps</h4>

      {{link-to 'Area Map' 'projects.edit.map.edit' model.id (query-params mapType=(dasherize 'Area Map'))
        data-test-add-area-map
        class='button large expanded map-type-area-map'
      }}
      <button class="button gray expanded" disabled>Tax Map</button>
      <button class="button gray expanded" disabled>Zoning Change Map</button>

    </div>
  </div>
</div>

{{outlet}}
