<div class="cell sidebar">

  {{project-setup-status project=model}}

  <h4 class="header-small">Project Maps</h4>
  {{link-to 'Area Map' 'projects.edit.map.edit' model.id (query-params mapType=(dasherize 'Area Map'))
    class='button large expanded map-type-area-map'
  }}

</div>
<div class="cell large-auto dashboard">

  <div class="grid-x">
    <div class="cell xlarge-auto">

      {{#mapbox-gl
          id='dashboard-map'
          mapLoaded=(action 'handleMapLoad')
          initOptions=(hash
            zoom=15.479951257235973
            center=(array -73.96532400540775 40.709710016659386)
            bearing=20.97777777785973
          )
          as | map |
        }}
          {{!-- Ad-hoc source and layer for developmentSite --}}
          {{#if model.developmentSite}}
            {{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
              {{source.layer
                layer=developmentSiteLayer
                before='boundary_country'
              }}
            {{/map.source}}
          {{/if}}

          {{!-- Ad-hoc source and layer for projectArea --}}
          {{#if model.projectArea}}
            {{#map.source options=(mapbox-geojson-source model.projectArea) as |source|}}
              {{source.layer
                layer=projectAreaLayer
                before='boundary_country'
              }}
            {{/map.source}}
          {{/if}}

          {{!-- Ad-hoc source and layer for rezoningArea --}}
          {{#if model.rezoningArea}}
            {{#map.source options=(mapbox-geojson-source model.rezoningArea) as |source|}}
              {{source.layer
                layer=rezoningAreaLayer
                before='boundary_country'
              }}
            {{/map.source}}
          {{/if}}
      {{/mapbox-gl}}

    </div>
    <div class="cell xlarge-shrink dashboard-controls">

      <div class="grid-x control">
        <div class="cell auto">
          <strong>Development Site</strong>
          {{labs-ui/legend-icon icon=areaMapLegendConfig.developmentSite.icon}}
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{#if model.developmentSite}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}

            {{#ember-popover
              data-test-development-site
              event='click'
              side='bottom'
              as |popover|
            }}
              {{link-to 'Select Lots' 'projects.edit.geometry-edit' model
                (query-params type='development-site' mode='lots')
                data-test-lots
                tagName='button'
                classNames='button tiny gray no-margin'}}
              {{link-to 'Draw Manually' 'projects.edit.geometry-edit' model
                (query-params type='development-site' mode='draw')
                data-test-draw
                tagName='button'
                classNames='button tiny gray no-margin'}}
            {{/ember-popover}}
          </button>
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
          </button>
        </div>
      </div>
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Project Area</strong>
          {{labs-ui/legend-icon icon=areaMapLegendConfig.projectArea.icon}}
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{#if model.projectArea}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}

            {{#ember-popover
              data-test-project-area
              event='click'
              side='bottom'
              as |popover|
            }}
              {{link-to 'Select Lots' 'projects.edit.geometry-edit' model
                (query-params type='project-area' mode='lots')
                data-test-lots
                tagName='button'
                classNames='button tiny gray no-margin'}}
              {{link-to 'Draw Manually' 'projects.edit.geometry-edit' model
                (query-params type='project-area' mode='draw')
                data-test-draw
                tagName='button'
                classNames='button tiny gray no-margin'}}
            {{/ember-popover}}
          </button>
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{fa-icon 'trash' class='dark-gray' transform='grow-3'}}
          </button>
        </div>
      </div>
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Underlying Zoning</strong>
          {{!-- {{labs-ui/legend-icon icon=areaMapLegendConfig.underlyingZoning.icon}} --}}
        </div>
        <div class="cell shrink">
          {{#link-to 'projects.edit.geometry-edit' model
            (query-params type='underlying-zoning' mode='draw')
            data-test-underlying-zoning
            tagName='button'
            classNames='button tiny gray no-margin'}}
            {{#if model.underlyingZoning}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
          {{/link-to}}
        </div>
      </div>
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Commercial Overlays</strong>
          {{!-- {{labs-ui/legend-icon icon=areaMapLegendConfig.commercialOverlays.icon}} --}}
        </div>
        <div class="cell shrink">
          {{#link-to 'projects.edit.geometry-edit' model
            (query-params type='commercial-overlays' mode='draw')
            data-test-commercial-overlays
            tagName='button'
            classNames='button tiny gray no-margin'}}
            {{#if model.commercialOverlays}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
          {{/link-to}}
        </div>
      </div>
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Special Purpose Districts</strong>
          {{!-- {{labs-ui/legend-icon icon=areaMapLegendConfig.specialPurposeDistricts.icon}} --}}
        </div>
        <div class="cell shrink">
          {{#link-to 'projects.edit.geometry-edit' model
            (query-params type='special-purpose-districts' mode='draw')
            data-test-special-purpose-districts
            tagName='button'
            classNames='button tiny gray no-margin'}}
            {{#if model.specialPurposeDistricts}}
              Edit
            {{else}}
              {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
            {{/if}}
          {{/link-to}}
        </div>
      </div>
      <div class="grid-x control">
        <div class="cell auto">
          <strong>Rezoning Area</strong>
          {{labs-ui/legend-icon icon=areaMapLegendConfig.rezoningArea.icon}}
        </div>
        <div class="cell shrink">
          <button class="button tiny gray no-margin">
            {{fa-icon 'plus' class='green-muted' transform='grow-6'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
