{{#map-form model=model tagName='' as |areaMapForm|}}

  <section class="legend-section">
    <h2 class="legend-section-header">Project</h2>
    <div class="grid-x">
      {{#if model.project.projectArea}}
        <div class="cell project-geom-cell">
          {{labs-ui/legend-item item=areaMapLegendConfig.projectArea}}
        </div>
      {{/if}}
      {{#if model.project.developmentSite}}
        <div class="cell project-geom-cell">
          {{labs-ui/legend-item item=areaMapLegendConfig.developmentSite}}
        </div>
      {{/if}}
      {{#if model.project.rezoningArea}}
        <div class="cell project-geom-cell">
          {{labs-ui/legend-item item=areaMapLegendConfig.rezoningArea}}
        </div>
      {{/if}}
      {{#if model.projectGeometryBuffer}}
        <div class="cell project-geom-cell">
          {{labs-ui/legend-item item=areaMapLegendConfig.projectGeometryBuffer}}
        </div>
      {{/if}}
    </div>
  </section>

  <section class="legend-section">
    <div class="grid-x">
      <div class="cell zoning-section-cell">
        <h2 class="legend-section-header">Zoning</h2>

        <div class="legend-item"><div class="legend-icon"><div class="zoning-district"></div></div> Zoning District</div>

        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-1"></div></div> C1-1</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-2"></div></div> C1-2</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-3"></div></div> C1-3</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-4"></div></div> C1-4</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-5"></div></div> C1-5</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-1"></div></div> C2-1</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-2"></div></div> C2-2</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-3"></div></div> C2-3</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-4"></div></div> C2-4</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-5"></div></div> C2-5</div>
        <div class="legend-item">
          <div class="legend-icon">
            <span class="fa-layers" style="color:rgba(94, 102, 51, 1); opacity:0.2;">
              {{fa-icon 'square' transform='left-3'}}
              {{fa-icon 'square' transform='right-3'}}
            </span>
          </div>
          <span style="letter-spacing:-0.02em; word-spacing:-0.1em;">Special Purpose District</span>
        </div>
      </div>
      <div class="cell land-use-section-cell">
        <h2 class="legend-section-header">Land Use</h2>
        {{#each areaMapLegendConfig.landuseLegendItems as |item|}}
          {{labs-ui/legend-item item=item}}
        {{/each}}
      </div>
    </div>
  </section>

  <section class="legend-section">
    <h2 class="legend-section-header">Transportation</h2>
    <div class="grid-x grid-margin-x">
      <div class="cell shrink">
        <div class="legend-item">
          <div class="legend-icon">
            <span class="fa-layers">
              {{fa-icon 'long-arrow-alt-left' class="red" transform="right-7 grow-10"}}
              {{fa-icon 'long-arrow-alt-right' class="red" transform="left-7 grow-10"}}
              {{fa-icon 'circle' class="black"}}
              {{fa-icon 'circle' class="white" transform="shrink-3"}}
            </span>
          </div>
          Subway Stop
        </div>
      </div>
      <div class="cell shrink">
        <div class="legend-item">
          <div class="legend-icon">
            <span class="fa-layers">
              {{fa-icon 'circle' class="black" transform="shrink-6"}}
              {{fa-icon 'circle' class="white" transform="shrink-10"}}
            </span>
          </div>
          Subway Entrance
        </div>
      </div>
    </div>
  </section>

  

{{/map-form}}

{{outlet}}
