<div class="cell medium-5 large-3 sidebar">
  <h2>{{model.project.projectName}}</h2>
  <p>!Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.</p>

  <hr/>

  <div class="text-left">
    <input type="radio" name="orientation" value="Portrait" id="Portrait" required/>
    <label for="Portrait">Portrait</label>
    <input type="radio" name="orientation" value="Portrait" id="landscape" required/>
    <label for="landscape">Landscape</label>
  </div>

  <button
    type="button"
    class="button expanded project-save-button"
    onclick={{action 'save' model}}
  >
    Save to this project
  </button>

</div>
<div class="cell medium-7 large-9 paper-container">
  <div class="paper letter landscape padding-10mm">
    <h2>{{model.project.projectName}} - Area Map</h2>
    {{#area-map-form tagName='' as |areaMapForm|}}
      {{#labs-map
        id='main-map'
        initOptions=(hash
          style=areaMapForm.model.meta.mapboxStyle
          zoom=12
          center=(array -73.983307 40.704977)
        )
        mapLoaded=(action handleMapLoaded ) as |map|}}

          {{map.labs-layers layerGroups=areaMapForm.model.layerGroups}}
          {{#map.source options=(mapbox-geojson-source model.project.developmentSite) as |source|}}
            {{source.layer
              layer=developmentSiteLayer
              before='boundary_country'
            }}
          {{/map.source}}

          {{#map.source options=(mapbox-geojson-source model.project.projectArea) as |source|}}
            {{source.layer
              layer=projectAreaLayer
              before='boundary_country'
            }}
          {{/map.source}}

          {{#map.source options=model.project.projectGeometryBufferSource as |source|}}
            {{source.layer
              layer=projectBufferLayer
              before='boundary_country'
            }}
          {{/map.source}}

      {{/labs-map}}
    {{/area-map-form}}
  </div>
</div>

{{outlet}}
