<div class="cell medium-5 large-3 layer-menu">
</div>
<div class="cell medium-7 large-9 paper-container">
  <div class="paper letter landscape padding-10mm">
    {{#area-map-form tagName='' as |areaMapForm|}}
      {{#labs-map
        id='main-map'
        initOptions=(hash
          zoom=12
          center=(array -73.983307 40.704977)
          interactive=false
          transformRequest=areaMapForm.transformRequest
        )
        model=model
        mapLoaded=(action areaMapForm.handleMapLoad model.projectAreaSource.data) as |map|}}

          {{map.labs-layers model=model}}

          {{#map.source options=model.project.projectAreaSource as |source|}}
            {{source.layer
              layer=projectAreaLayer
              before='boundary_country'
            }}
          {{/map.source}}

          {{#map.source options=model.project.projectBufferSource as |source|}}
            {{source.layer
              layer=projectBufferLayer
              before='boundary_country'
            }}
          {{/map.source}}

      {{/labs-map}}
    {{/area-map-form}}
  </div>
</div>
{{!-- <button onclick={{action 'save' model.applicantMap}}>Save to this project</button> --}}

{{outlet}}
