{{#map-form model=model tagName='' as |areaMapForm|}}
  <section class="legend-section">
    <h1 class="legend-project-name">{{model.project.projectName}} Area Map</h1>
    <h2 class="legend-applicant">{{model.project.applicantName}}</h2>
  </section>
  <hr>
  <section class="legend-section">
    <h2 class="legend-section-header">Project</h2>
    <div class="grid-x">
      {{#if model.project.projectArea}}
        <div class="cell project-geom-cell">
          {{labs-ui/legend-item item=areaMapLegendConfig.projectArea}}
        </div>
      {{/if}}
      {{#if model.project.developmentSite}}
        <div class="cell project-geom-cell">
          {{labs-ui/legend-item item=areaMapLegendConfig.developmentSite}}
        </div>
      {{/if}}
      {{#if model.project.rezoningArea}}
        <div class="cell project-geom-cell">
          {{labs-ui/legend-item item=areaMapLegendConfig.rezoningArea}}
        </div>
      {{/if}}
      {{#if model.project.projectGeometryBuffer}}
        <div class="cell project-geom-cell">
          {{labs-ui/legend-item item=areaMapLegendConfig.projectGeometryBuffer}}
        </div>
      {{/if}}
    </div>
  </section>
  <section class="legend-section">
    <div class="grid-x">
      <div class="cell zoning-section-cell">
        <h2 class="legend-section-header">Zoning</h2>

        <div class="legend-item"><div class="legend-icon"><div class="zoning-district"></div></div> Zoning District</div>

        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-1"></div></div> C1-1</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-2"></div></div> C1-2</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-3"></div></div> C1-3</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-4"></div></div> C1-4</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c1-5"></div></div> C1-5</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-1"></div></div> C2-1</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-2"></div></div> C2-2</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-3"></div></div> C2-3</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-4"></div></div> C2-4</div>
        <div class="legend-item"><div class="legend-icon"><div class="sprite c2-5"></div></div> C2-5</div>
      </div>
      <div class="cell land-use-section-cell">
        <h2 class="legend-section-header">Land Use</h2>
        {{#each areaMapLegendConfig.landuseLegendItems as |item|}}
          {{labs-ui/legend-item item=item}}
        {{/each}}
      </div>
    </div>
  </section>
{{/map-form}}

{{outlet}}
