<nav class="step-nav">
  {{#link-to 'projects.edit.steps.development-site'
    tagName='span'
    class='button small gray small-margin-bottom'
    data-test-step-back=""
  }}
    {{fa-icon 'arrow-left'}} Back
  {{/link-to}}
</nav>

<h1>Project Area</h1>

<p>The Project Area includes all properties subject to your proposed land use actions. You need to define a Project Area if you are requesting actions on properties that will not be developed (i.e. properties outside your Development Site).</p>

<h2 class="header-medium">Are you requesting land use actions affecting properties that will not be developed?</h2>

<p class="text-small">Select "No" if you are unsure. You can add a Project Area later if needed.</p>

<p class="small-bottom-margin">
  <button
    type="button"
    class="button gray large no-margin"
    onclick={{action (mut model.needProjectArea) false}}
  >
    <span class="dark-gray">
      {{#if (eq model.needProjectArea false)}}
        {{fa-icon 'check-circle'
          fixedWidth=true
          transform='left-3 grow-3'
        }}
      {{else}}
        {{fa-icon 'circle'
          prefix='far'
          fixedWidth=true
          transform='left-3 grow-3'
        }}
      {{/if}}
    </span>
    <strong>No</strong>
    <small>(Only the Development Site is subject to my proposed land use actions)</small>
  </button>
</p>

<p class="small-bottom-margin">
  <button
    type="button"
    class="button gray large no-margin"
    onclick={{action (mut model.needProjectArea) true}}
    data-test-project-area-yes
  >
    <span class="dark-gray">
      {{#if (eq model.needProjectArea true)}}
        {{fa-icon 'check-circle'
          fixedWidth=true
          transform='left-3 grow-3'
        }}
      {{else}}
        {{fa-icon 'circle'
          prefix='far'
          fixedWidth=true
          transform='left-3 grow-3'
        }}
      {{/if}}
    </span>
    <strong>Yes</strong>
    <small>(I need to define the Project Area)</small>
  </button>
</p>

{{#if (eq model.needProjectArea true)}}

  <h2 class="header-medium">To create a Project Area, you can either:</h2>

  <div class="grid-x grid-margin-x">
    <div class="cell medium-6 large-5 xlarge-4">
      {{#link-to 'projects.edit.geometry-edit' model.id (query-params mode='lots' type='project-area')
        tagName='span'
        class='button large expanded'
        data-test-project-area-select-lots=true
      }}
        {{fa-icon 'hand-pointer' fixedWidth=true transform='left-3 grow-3'}}
        Select Lots
      {{/link-to}}
      <p class="text-small text-center">Create a Project Area that is contiguous with chosen zoning lots</p>
    </div>
    <div class="cell medium-6 large-5 xlarge-4">
      {{#link-to 'projects.edit.geometry-edit' model.id (query-params mode='draw' type='project-area')
        tagName='span'
        class='button large expanded'
      }}
        {{fa-icon 'draw-polygon' fixedWidth=true transform='left-3 grow-3'}}
        Draw Manually
      {{/link-to}}
      <p class="text-small text-center">Use draw tools to create a Project Area that includes partial zoning lots</p>
    </div>
  </div>

{{else if (eq model.needProjectArea false)}}

  <p class="text-right">
    {{#link-to 'projects.edit.steps.rezoning'
      tagName='span'
      class='button large'
    }}
      Next
      {{fa-icon 'arrow-right' fixedWidth=true}}
    {{/link-to}}
  </p>

{{/if}}

{{outlet}}
