<nav class="step-nav">
  {{#link-to 'projects.edit.steps.project-area'
    tagName='span'
    class='button small gray no-margin'
  }}
    {{fa-icon 'long-arrow-alt-left'}} Back
  {{/link-to}}
</nav>

<h1>Rezoning</h1>

<p>For projects that include rezoning actions, you will need to define how the existing zoning is being altered.</p>

<h2 class="header-medium">Are you requesting any rezoning&nbsp;actions?</h2>

<p class="small-bottom-margin">
  <button
    type="button"
    class="button gray large no-margin"
    onclick={{action 'setRezoningFalse'}}
  >
    <span class="dark-gray">
      {{#if (eq model.needRezoning false)}}
        {{fa-icon 'check-circle'
          fixedWidth=true
          transform='left-3 grow-3'
        }}
      {{else}}
        {{fa-icon 'circle'
          prefix='far'
          fixedWidth=true
          transform='left-3 grow-3'
        }}
      {{/if}}
    </span>
    <strong>No</strong>
    <small>(Proposed Project has no rezoning action(s))</small>
  </button>
</p>

<p class="small-bottom-margin">
  <button
    type="button"
    class="button gray large no-margin"
    onclick={{action (mut model.needRezoning) true}}
    data-test-rezoning-yes
  >
    <span class="dark-gray">
      {{#if (eq model.needRezoning true)}}
        {{fa-icon 'check-circle'
          fixedWidth=true
          transform='left-3 grow-3'
        }}
      {{else}}
        {{fa-icon 'circle'
          prefix='far'
          fixedWidth=true
          transform='left-3 grow-3'
        }}
      {{/if}}
    </span>
    <strong>Yes</strong>
    <small>(Proposed Project includes rezoning action(s))</small>
  </button>
</p>

{{#if (eq model.needRezoning true)}}
  {{!-- Note: We will want form validation here that requires them to say yes to at least one of these three --}}

  {{!-- <h2 class="header-medium">Are you altering these types of zoning?</h2> --}}
  <h2 class="header-medium">For each type of zoning, are you altering it?</h2>

  {{!-- Underlying Zoning Districts --}}
  <div class="grid-x grid-margin-x">
    <div class="cell medium-5 xlarge-4 xxlarge-3">
      <p>Underlying Zoning Districts</p>
    </div>
    <div class="cell medium-5 xlarge-4 xxlarge-3">
      <div class="button-group small expanded">
        <button
          type="button"
          class="button gray"
          onclick={{action (mut model.needUnderlyingZoning) true}}
          data-test-rezoning-underlying-zoning-yes
        >
          <span class="dark-gray">
            {{#if (eq model.needUnderlyingZoning true)}}
              {{fa-icon 'check-circle'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{else}}
              {{fa-icon 'circle'
                prefix='far'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{/if}}
          </span>
          <strong>Yes</strong>
        </button>
        <button
          type="button"
          class="button gray"
          onclick={{action (mut model.needUnderlyingZoning) false}}
        >
          <span class="dark-gray">
            {{#if (eq model.needUnderlyingZoning false)}}
              {{fa-icon 'check-circle'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{else}}
              {{fa-icon 'circle'
                prefix='far'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{/if}}
          </span>
          <strong>No</strong>
        </button>
      </div>
    </div>
  </div>

  {{!-- Commercial Overlays --}}
  <div class="grid-x grid-margin-x">
    <div class="cell medium-5 xlarge-4 xxlarge-3">
      <p>Commercial Overlays</p>
    </div>
    <div class="cell medium-5 xlarge-4 xxlarge-3">
      <div class="button-group small expanded">
        <button
          type="button"
          class="button gray"
          onclick={{action (mut model.needCommercialOverlay) true}}
          data-test-rezoning-commercial-overlays-yes
        >
          <span class="dark-gray">
            {{#if (eq model.needCommercialOverlay true)}}
              {{fa-icon 'check-circle'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{else}}
              {{fa-icon 'circle'
                prefix='far'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{/if}}
          </span>
          <strong>Yes</strong>
        </button>
        <button
          type="button"
          class="button gray"
          onclick={{action (mut model.needCommercialOverlay) false}}
        >
          <span class="dark-gray">
            {{#if (eq model.needCommercialOverlay false)}}
              {{fa-icon 'check-circle'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{else}}
              {{fa-icon 'circle'
                prefix='far'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{/if}}
          </span>
          <strong>No</strong>
        </button>
      </div>
    </div>
  </div>

  {{!-- Special Purpose Districts --}}
  <div class="grid-x grid-margin-x">
    <div class="cell medium-5 xlarge-4 xxlarge-3">
      <p>Special Purpose Districts</p>
    </div>
    <div class="cell medium-5 xlarge-4 xxlarge-3">
      <div class="button-group small expanded">
        <button
          type="button"
          class="button gray"
          onclick={{action (mut model.needSpecialDistrict) true}}
          data-test-rezoning-special-purpose-districts-yes
        >
          <span class="dark-gray">
            {{#if (eq model.needSpecialDistrict true)}}
              {{fa-icon 'check-circle'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{else}}
              {{fa-icon 'circle'
                prefix='far'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{/if}}
          </span>
          <strong>Yes</strong>
        </button>
        <button
          type="button"
          class="button gray"
          onclick={{action (mut model.needSpecialDistrict) false}}
        >
          <span class="dark-gray">
            {{#if (eq model.needSpecialDistrict false)}}
              {{fa-icon 'check-circle'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{else}}
              {{fa-icon 'circle'
                prefix='far'
                fixedWidth=true
                transform='left-3 grow-3'
              }}
            {{/if}}
          </span>
          <strong>No</strong>
        </button>
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell medium-10 xlarge-8 xxlarge-6">
      {{#link-to 'projects.edit.geometry-edit' model.id (query-params mode='draw' type=model.firstGeomType)
        tagName='span'
        disabled=(not model.rezoningAnsweredLogically)
        class='button large expanded'
        data-test-alter-zoning=true
      }}
        {{fa-icon 'draw-polygon' fixedWidth=true transform='left-3 grow-3'}}
        Alter Zoning
      {{/link-to}}
    </div>
  </div>

{{else if (eq model.needRezoning false)}}

  <p class="text-right">
    {{#link-to 'projects.show' model.id
      tagName='span'
      class='button large'
    }}
      Next
      {{fa-icon 'long-arrow-alt-right' fixedWidth=true transform='right-3 grow-3'}}
    {{/link-to}}
  </p>

{{/if}}

{{outlet}}
