{{#if (not (is-empty model.commercialOverlays))}}
  {{#project-geometries/draw-lots-to-union
    mode=mode
    map=map
    geometricProperty=model.commercialOverlays as |selection|
  }}
    {{#selection.button
      handleClick=(action 'save')}}
      Save Commercial Overlays
    {{/selection.button}}
  {{/project-geometries/draw-lots-to-union}}

  {{#ember-wormhole to='geometry-type-draw-explainer'}}
    <h3 class="no-margin">Rezoning: Commercial Overlays</h3>
    <p class="text-small">A <a href='https://www1.nyc.gov/site/planning/zoning/districts-tools/commercial-districts-c1-c8.page' target="_blank">Commercial Overlay</a> is a C1 or C2 district mapped within residential districts to serve local retail needs. These boundaries are not dependent on lot lines and can sometimes intersect tax lots.</p>
    <ul class="text-small">
      <li><strong>You can either edit an existing zoning boundary or draw a new zoning boundary using the draw tool</strong></li>
      <li> Select the polygon tool to begin drawing a new shape (you can draw multiple shapes)</li>
      <li> Complete a shape by clicking the final vertex a second time</li>
      <li> Edit an existing zoning boundary or a drawn shape by selecting and then dragging vertices</li>
      <li> Use the trash button (or delete key) to delete a selected shape or vertex</li>
      <li> Type in the zoning designation code for a new zoning boundary in the box</li>
      <li> Once you're finished, save the geometry</li>
    </ul>
  {{/ember-wormhole}}

  {{#map.source options=(mapbox-geojson-source model.commercialOverlays) as |source|}}
    {{source.layer layer=coLayer before='boundary_country'}}
    {{source.layer layer=c11Layer before='boundary_country'}}
    {{source.layer layer=c12Layer before='boundary_country'}}
    {{source.layer layer=c13Layer before='boundary_country'}}
    {{source.layer layer=c14Layer before='boundary_country'}}
    {{source.layer layer=c15Layer before='boundary_country'}}
    {{source.layer layer=c21Layer before='boundary_country'}}
    {{source.layer layer=c22Layer before='boundary_country'}}
    {{source.layer layer=c23Layer before='boundary_country'}}
    {{source.layer layer=c24Layer before='boundary_country'}}
    {{source.layer layer=c25Layer before='boundary_country'}}
  {{/map.source}}
{{/if}}

{{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
  {{source.layer
    layer=developmentSiteLayer
    before='boundary_country'
  }}
{{/map.source}}
