{{#if
  (or
    (not (is-empty model.developmentSite))
    (not (is-empty model.projectArea))
    (not (is-empty model.underlyingZoning))
    (not (is-empty model.specialPurposeDistricts))
  )
}}

  <ul class="over-map-legend no-bullet">
    {{#if (not (is-empty model.developmentSite))}}
      <li data-test-legend-item="development-site">
        <strong>Development Site</strong>
        {{labs-ui/legend-icon icon=projectGeometryIcons.developmentSiteIcon}}
      </li>
    {{/if}}

    {{#if (not (is-empty model.projectArea))}}
      <li><strong>Project Area</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.projectAreaIcon}}</li>
    {{/if}}

    {{#if (not (is-empty model.underlyingZoning))}}
      <li><strong>Underlying Zoning</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.underlyingZoningIcon}}</li>
    {{/if}}

    {{#if (not (is-empty model.specialPurposeDistricts))}}
      <li><strong>Special Purpose Districts</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.specialPurposeDistrictsIcon}}</li>
    {{/if}}

    {{!-- if a rezoning area exists AND --}}
    {{!-- we're drawing rezoning OR viewing the dashboard (type is undefined) --}}
    {{#if
      (and
        (not (is-empty model.rezoningArea))
        (or (eq type 'rezoning-area') (not type))
      )
    }}
       <li><strong>Rezoning Area</strong> {{labs-ui/legend-icon icon=projectGeometryIcons.rezoningAreaIcon}}</li>
     {{/if}}

   </ul>
  }
{{/if}}
