{{#project-geometries/draw-lots-to-union
  mode=mode
  map=map
  geometricProperty=model.projectArea as |selection|
}}
  {{#ember-wormhole to='geometry-type-draw-explainer'}}
    <h1 class="header-large small-margin-bottom">Project Area</h1>

    <p class="text-small">The Project Area includes all properties subject to proposed actions. You need to define a Project Area if you are requesting actions on properties that will not be developed.</p>

    {{#if (eq mode 'draw')}}
      <h2 class="header-small small-margin-bottom">How to use the draw tools:</h2>

      <ul class="text-small">
        <li><p class="small-margin-bottom">Edit an existing shape by selecting it then selecting and dragging its vertices</p></li>
        <li><p class="small-margin-bottom">
          Use the
          <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
            {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
            {{fa-icon 'square' transform='grow-8' class='white'}}
            {{fa-icon 'draw-polygon' transform='shrink-2'}}
          </span>
          polygon tool to add a new shapes
        </p></li>
        <li><p class="small-margin-bottom">Complete a new shape by clicking the final vertex a second time</p></li>
        <li><p class="small-margin-bottom">
          Use the
          <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
            {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
            {{fa-icon 'square' transform='grow-8' class='white'}}
            {{fa-icon 'trash-alt' prefix='far' transform='shrink-2'}}
          </span>
          trash button to delete a selected shape or vertex
        </p></li>
        <li><p class="small-margin-bottom">Make sure all shapes are complete before saving</p></li>
      </ul>
    {{else}}
      <p class="text-small small-margin-bottom grid-x">
        <span class="cell shrink" style="padding-right:0.25rem;">{{fa-icon 'plus' fixedWidth=true}}</span>
        <span class="cell auto">Zoom the map  so that lots are visible</span>
      </p>
      <p class="text-small grid-x">
        <span class="cell shrink" style="padding-right:0.25rem;">{{fa-icon 'hand-pointer' prefix='far' fixedWidth=true}}</span>
        <span class="cell auto">Select lots to add them to your Project Area (selected lots will be yellow)</span>
      </p>
    {{/if}}
    {{#selection.button
      enabled=model.hasDirtyAttributes
      handleClick=(action 'save')}}
      Save Project Area
    {{/selection.button}}
  {{/ember-wormhole}}
{{/project-geometries/draw-lots-to-union}}

{{!-- Ad-hoc source and layer for projectArea --}}
{{#if (and model.projectArea (not-eq geometryMode 'projectArea'))}}
  {{#map.source options=(mapbox-geojson-source model.projectArea) as |source|}}
    {{source.layer
      layer=projectAreaLayer
      before='boundary_country'
    }}
  {{/map.source}}
{{/if}}

{{yield}}
