{{#project-geometries/draw-lots-to-union
  mode=mode
  map=map
  geometricProperty=model.specialPurposeDistricts as |selection|
}}
  {{selection.mode.feature-label-form}}

  {{#ember-wormhole to='geometry-type-draw-explainer'}}
    <h1 class="header-large small-margin-bottom">Rezoning: <span class="text-weight-normal">Special Purpose Districts</span></h1>

    <p class="text-small"><a href="https://www1.nyc.gov/site/planning/zoning/districts-tools/special-purpose-districts.page" target="_blank">Special Purpose Districts</a> are designed to supplement and modify the underlying zoning in distinctive neighborhoods with particular issues and goals. These boundaries <strong>extend to the centerline of streets</strong>, are not dependent on lot lines, and can sometimes intersect tax lots.</p>

    <h2 class="header-small small-margin-bottom">How to use the draw tools:</h2>

    <ul class="text-small">
      <li><p class="small-margin-bottom">Edit an existing shape by selecting it then dragging its vertices</p></li>
      <li><p class="small-margin-bottom">
        Use the
        <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
          {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
          {{fa-icon 'square' transform='grow-8' class='white'}}
          {{fa-icon 'draw-polygon' transform='shrink-2'}}
        </span>
        polygon tool to add a new shapes
      </p></li>
      <li><p class="small-margin-bottom">Complete a new shape by clicking the final vertex a second time</p></li>
      <li><p class="small-margin-bottom">
        Use the
        <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
          {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
          {{fa-icon 'square' transform='grow-8' class='white'}}
          {{fa-icon 'trash-alt' prefix='far' transform='shrink-2'}}
        </span>
        trash button (or delete key) to delete a selected shape or vertex
      </p></li>
      <li><p class="small-margin-bottom">
        When a shape is complete/selected, you can edit its
        <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
          {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
          {{fa-icon 'tag' transform='shrink-2'}}
        </span>
        label
      </p></li>
      <li><p class="small-margin-bottom">Make sure all shapes are complete and labeled before saving</p></li>
    </ul>
    {{#selection.button
      enabled=model.hasDirtyAttributes
      handleClick=(action 'save')}}
      Save
      <small style="display:block;line-height:1.75;">Special Purpose Districts</small>
    {{/selection.button}}
  {{/ember-wormhole}}
{{/project-geometries/draw-lots-to-union}}

{{#map.source
  options=(mapbox-geojson-source model.specialPurposeDistricts) as |source|}}
  {{source.layer
    layer=proposedSpecialPurposeDistrictsLayer
    before='boundary_country'
  }}
  {{source.layer
    layer=proposedSpecialPurposeDistrictsLabelsLayer
    before='boundary_country'
  }}
{{/map.source}}

{{#map.source
  options=(mapbox-geojson-source model.developmentSite) as |source|}}
  {{source.layer
    layer=developmentSiteLayer
    before='boundary_country'
  }}
{{/map.source}}
