{{#ember-wormhole to="draw-controls"}}
  <button
    class="annotation--parallel-offset {{if (eq currentTool 'draw_annotations:linear') 'active'}}"
    {{action handleAnnotation 'draw_annotations:linear'}}
  >
    <span class="fa-layers fa-2x">
      {{fa-icon 'arrows-alt-h' transform='down-4'}}
      {{fa-icon 'times' transform='shrink-9 up-3'}}
    </span>
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip" popperContainer='body'}}
      <h5 class="small-margin-bottom">
        <span class="text-weight-normal blue-light">Annotation:</span>
        Parallel Measurement
      </h5>
      <p class="no-margin">Dimension a zoning district boundary that is being drawn based on a parallel offset from either a street-line or a zoning district boundary</p>
    {{/ember-tooltip}}
  </button>
  <button
    class="annotation--point-to-point-offset {{if (eq currentTool 'draw_annotations:curved') 'active'}}"
    {{action handleAnnotation 'draw_annotations:curved'}}
  >
    <span class="fa-layers fa-2x">
      {{fa-icon 'square-full' mask='circle-notch' transform='up-4'}}
      {{fa-icon 'caret-left' transform='shrink-4 left-6 rotate-45 down-4'}}
      {{fa-icon 'caret-right' transform='shrink-4 right-6 rotate-315 down-4'}}
      {{fa-icon 'times' transform='shrink-9 up-3'}}
    </span>
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip" popperContainer='body'}}
      <h5 class="small-margin-bottom">
        <span class="text-weight-normal blue-light">Annotation:</span>
        Point-to-point Measurement
      </h5>
      <p class="no-margin">Dimension a zoning district boundary that is being drawn based on a point-to-point offset</p>
    {{/ember-tooltip}}
  </button>
  <button
    class="annotation--custom-text {{if (eq currentTool 'draw_annotations:square') 'active'}}"
    {{action handleAnnotation 'draw_annotations:square'}}
  >
    <span class="fa-layers fa-2x">
      {{fa-icon 'square-full' mask='square-full' transform='up-1 left-1'}}
      {{fa-icon 'chevron-left' transform='rotate-45 shrink-4'}}
    </span>
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip" popperContainer='body'}}
      <h5 class="small-margin-bottom">
        <span class="text-weight-normal blue-light">Annotation:</span>
        Right Angle
      </h5>
      <p class="small-margin-bottom">Annotate a right angle for a zoning district boundary that is being drawing based on a point-to-point offset.</p>
      <p class="no-margin">Place the first point on the vertex of the angle. Place the second point inside the angle at 45º. Drag to adjust the size and position.</p>
    {{/ember-tooltip}}
  </button>
  <button
    class="annotation--custom-text {{if (eq currentTool 'draw_annotations:label') 'active'}}"
    {{action handleAnnotation 'draw_annotations:label'}}
    data-test-draw-label-tool
  >
    {{fa-icon 'i-cursor' size='2x' fixedWidth=true transform='shrink-4'}}
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip" popperContainer='body'}}
      <h5 class="small-margin-bottom">
        <span class="text-weight-normal blue-light">Annotation:</span>
        Text
      </h5>
      <p class="no-margin">Add a custom label</p>
    {{/ember-tooltip}}
  </button>
  <button
    class="annotation--custom-text {{if (eq currentTool 'draw_annotations:centerline') 'active'}}"
    {{action handleAnnotation 'draw_annotations:centerline'}}
    data-test-draw-centerline-tool
  >
    <span class="fa-layers fa-2x">
      <span class="fa-layers-text">℄</span>
    </span>
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip" popperContainer='body'}}
      <h5 class="small-margin-bottom">
        <span class="text-weight-normal blue-light">Annotation:</span> 
        Centerline
      </h5>
      <p class="no-margin">Annotate a proposed zoning district boundary that runs midway between two streets</p>
    {{/ember-tooltip}}
  </button>
{{/ember-wormhole}}

{{yield}}
