{{#if isReady}}
  {{#component modeComponent as |editMode|}}
    {{editMode.feature-label-form
        options=labelOptions}}
    {{editMode.annotations}}
  {{/component}}
{{/if}}

{{#ember-wormhole to='geometry-type-draw-explainer'}}
  <div class="fade-in-on-load text-small">

    {{back-to-dashboard-button model=model}}

    <h1 class="header-large small-margin-bottom">
      Rezoning:
      <span class="text-weight-normal">
        Commercial Overlays
      </span>
    </h1>
    <p>
      <a href='https://www1.nyc.gov/site/planning/zoning/districts-tools/commercial-districts-c1-c8.page' target="_blank">
        Commercial Overlays
      </a> are C1-1 through C1-5 and C2-1 through C2-5 districts mapped within residence districts to serve local retail needs. These boundaries are not dependent on lot lines and can sometimes intersect tax lots.
    </p>

    <p class="text-weight-bold small-margin-bottom">Adding new shapes:</p>
    <ul class="small-margin-bottom">
      <li>
        Use the
        <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
          {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
          {{fa-icon 'square' transform='grow-8' class='white'}}
          {{fa-icon 'draw-polygon' transform='shrink-2'}}
        </span>
        polygon tool to add a new shape
      </li>
      <li>Complete a new shape by clicking its final vertex a second time</li>
    </ul>

    <p class="text-weight-bold small-margin-bottom">Editing existing shapes:</p>
    <ul class="small-margin-bottom">
      <li>Edit an existing shape by selecting it and dragging its vertices</li>
      <li>Add a vertex by clicking the midpoint of a line</li>
      <li>
        Use the
        <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
          {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
          {{fa-icon 'square' transform='grow-8' class='white'}}
          {{fa-icon 'trash-alt' prefix='far' transform='shrink-2'}}
        </span>
        trash button to delete a selected shape or vertex
      </li>
    </ul>

    <p class="text-weight-bold small-margin-bottom">Labeling shapes:</p>
    <ul>
      <li>
        Select a shape then edit the
        <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
          {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
          {{fa-icon 'tag' transform='shrink-2'}}
        </span>
        label text
      </li>
    </ul>

    <hr />

    {{#project-geometries/utils/button
      enabled=isReadyToProceed
      handleClick=(action 'calculateRezoningOnSave')}}
      Save
      <small style="display:block;line-height:1.75;">Commercial Overlays</small>
    {{/project-geometries/utils/button}}
  </div>
{{/ember-wormhole}}
