{{#if isReady}}
  {{#component modeComponent directSelectMode='direct_select_rezoning' as |editMode|}}
    {{editMode.feature-label-form
        options=labelOptions
        canAddNewDistricts=false}}
    {{editMode.annotations}}
  {{/component}}
{{/if}}

{{#ember-wormhole to='geometry-type-draw-explainer'}}
  <div class="fade-in-on-load text-small">

    <h1 class="header-large small-margin-bottom">
      Rezoning:
      <span class="text-weight-normal" style="display:block;">
        Commercial Overlays
      </span>
    </h1>

    <p>
      <a href='https://www1.nyc.gov/site/planning/zoning/districts-tools/commercial-districts-c1-c8.page' target="_blank">
        Commercial Overlays
      </a> are C1 or C2 district mapped within residential districts to serve local retail needs. These boundaries are not dependent on lot lines and can sometimes intersect tax lots.
    </p>

    <hr />

    <p>Overlays are usually drawn to the <strong>lot boundary</strong> (not the street centerline).</p>

    <hr />

    <div class="grid-x">
      {{yield}}
      <div class="cell auto">
        {{#project-geometries/utils/button
          enabled=isReadyToProceed
          handleClick=(action 'calculateRezoningOnSave')}}
          {{#if (eq model.project.currentStep.step 'complete')}}
            Save
          {{else}}
            Next {{fa-icon 'arrow-right' fixedWidth=true}}
          {{/if}}
        {{/project-geometries/utils/button}}
      </div>
    </div>

    <hr />
    <p><img src="/img/gif-commercial-overlays.gif" alt="Draw Commercial Overlays" class="shadowed" /></p>
  </div>
{{/ember-wormhole}}
