{{#component (concat 'project-geometries/modes/' mode)
  map=map
  geometricProperty=model.proposedGeometry as |edit-mode|
}}
  {{project-geometry-renderer map=map model=model}}
  {{#ember-wormhole to='geometry-type-draw-explainer'}}
    <div class="fade-in-on-load text-small">

      {{back-to-dashboard-button model=model}}

      <h1 class="header-large small-margin-bottom">Project Area</h1>
      <p>The Project Area includes all properties subject to your proposed land use actions. You need to define a Project Area if you are requesting actions on properties that will not be developed (i.e. properties outside your Development Site).</p>

      <hr />

      {{#if (eq mode 'draw')}}
        <p class="text-weight-bold small-margin-bottom">Adding new shapes:</p>
        <ul class="small-margin-bottom">
          <li>
            Use the
            <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
              {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
              {{fa-icon 'square' transform='grow-8' class='white'}}
              {{fa-icon 'draw-polygon' transform='shrink-2'}}
            </span>
            polygon tool to add a new shape
          </li>
          <li>Complete a new shape by clicking its final vertex a second time</li>
        </ul>

        <p class="text-weight-bold small-margin-bottom">Editing existing shapes:</p>
        <ul>
          <li>Edit an existing shape by selecting it and dragging its vertices</li>
          <li>Add a vertex by clicking the midpoint of a line</li>
          <li>
            Use the
            <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
              {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
              {{fa-icon 'square' transform='grow-8' class='white'}}
              {{fa-icon 'trash-alt' prefix='far' transform='shrink-2'}}
            </span>
            trash button to delete a selected shape or vertex
          </li>
        </ul>
      {{else}}
        <p class="small-margin-bottom grid-x">
          <span class="cell shrink" style="padding-right:0.25rem;">{{fa-icon 'plus' fixedWidth=true}}</span>
          <span class="cell auto">Zoom the map  so that lots are visible</span>
        </p>
        <p class="grid-x">
          <span class="cell shrink" style="padding-right:0.25rem;">{{fa-icon 'hand-pointer' prefix='far' fixedWidth=true}}</span>
          <span class="cell auto">Select lots to add them to your Project Area (selected lots will be yellow)</span>
        </p>
      {{/if}}

      <hr />

      {{#edit-mode.button
        enabled=isReadyToProceed
        handleClick=(action 'save')}}
        Save Project Area
      {{/edit-mode.button}}
    </div>
  {{/ember-wormhole}}
{{/component}}

{{yield}}
