{{#ember-wormhole to='geometry-type-draw-explainer'}}
  <div class="fade-in-on-load text-small">

    
    <h1 class="header-large small-margin-bottom">Project Area</h1>

    <p>The Project Area includes all properties subject to your proposed land use actions. You need to define a Project Area if you are requesting actions on properties that will not be developed (i.e. properties outside your Development Site).</p>

    <hr />

    {{#if (eq mode 'draw')}}
      <p>Project Areas are usually drawn to the <strong>lot boundary</strong>.</p>
      <p class="text-weight-bold small-margin-bottom">Adding new shapes:</p>
      <ul class="small-margin-bottom">
        <li>
          Use the
          <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
            {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
            {{fa-icon 'square' transform='grow-8' class='white'}}
            {{fa-icon 'draw-polygon' transform='shrink-2'}}
          </span> polygon tool to add a new shape
        </li>
        <li>Complete a new shape by clicking its final point a second time</li>
      </ul>

      <p class="text-weight-bold small-margin-bottom">Editing existing shapes:</p>
      <ul>
        <li>Edit an existing shape by selecting it and dragging its points</li>
        <li>Add a new point by clicking the midpoint of a line</li>
        <li>
          Use the
          <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
            {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
            {{fa-icon 'square' transform='grow-8' class='white'}}
            {{fa-icon 'trash-alt' prefix='far' transform='shrink-2'}}
          </span>
          trash button to delete a selected shape or point
        </li>
      </ul>
    {{else}}
      <p class="small-margin-bottom grid-x">
        <span class="cell shrink" style="padding-right:0.25rem;">{{fa-icon 'plus' fixedWidth=true}}</span>
        <span class="cell auto">Zoom the map  so that lots are visible</span>
      </p>
      <p class="grid-x">
        <span class="cell shrink" style="padding-right:0.25rem;">{{fa-icon 'hand-pointer' prefix='far' fixedWidth=true}}</span>
        <span class="cell auto">Select lots to add them to your Project Area (selected lots will be yellow)</span>
      </p>
      <p>If your Project Area includes your <strong>Development Site</strong>, (usually the case) you will need to reselect those lots.</p>
    {{/if}}

    {{#component modeComponent as |editMode|}}
      {{editMode.toggle-mode-button
        isReadyToProceed=isReadyToProceed}}
    {{/component}}

    <hr />

    <div class="grid-x">
      {{yield}}
      <div class="cell auto">
        {{#project-geometries/utils/button
          enabled=isReadyToProceed
          handleClick=(action save)}}
          {{#if (eq model.project.currentStep.step 'complete')}}
            Save
          {{else}}
            Next {{fa-icon 'arrow-right'}}
          {{/if}}
        {{/project-geometries/utils/button}}
      </div>
    </div>

  <hr />
  <p><img src={{ if (eq mode 'draw') '/img/gif-draw-project-area.gif' '/img/gif-select-lot-project-area.gif' }} alt="Select Lot Project Area" class="shadowed" /></p>

  </div>
{{/ember-wormhole}}
