{{#if isReady}}
  {{#component modeComponent directSelectMode='direct_select_rezoning' as |editMode|}}
    {{editMode.feature-label-form}}
    {{editMode.annotations}}
  {{/component}}
{{/if}}

{{#ember-wormhole to='geometry-type-draw-explainer'}}
  <div class="fade-in-on-load text-small">

    
    <h1 class="header-large small-margin-bottom">
      Rezoning:
      <span class="text-weight-normal" style="display:block;">
        Special Purpose Districts
      </span>
    </h1>

    <p><a href="https://www1.nyc.gov/site/planning/zoning/districts-tools/special-purpose-districts.page" target="_blank">Special Purpose Districts</a> supplement and modify the underlying zoning in distinctive neighborhoods with particular issues and goals.</p>

    <hr />

    <p>Special Purpose Districts usually extend to the <strong>street centerline</strong> (not lot boundaries).</p>
    <p><img src="/img/gif-special-purpose.gif" alt="Draw Special Purpose Districts" class="shadowed" /></p>

    <hr />

    <div class="grid-x">
      {{yield}}
      <div class="cell auto">
        {{#project-geometries/utils/button
          enabled=isReadyToProceed
          handleClick=(action 'calculateRezoningOnSave')}}
          {{#if (eq model.project.currentStep.step 'complete')}}
            Save
          {{else}}
            Next {{fa-icon 'arrow-right'}}
          {{/if}}
        {{/project-geometries/utils/button}}
      </div>
    </div>

  </div>
{{/ember-wormhole}}
