{{#project-geometries/draw-lots-to-union
  mode=mode
  map=map
  geometricProperty=model.specialPurposeDistricts as |selection|
}}
  {{selection.mode.feature-label-form}}

  {{#ember-wormhole to='geometry-type-draw-explainer'}}
    <div class="text-small">
      <h1 class="header-large small-margin-bottom">Rezoning: <span class="text-weight-normal">Special Purpose Districts</span></h1>
      <p><a href="https://www1.nyc.gov/site/planning/zoning/districts-tools/special-purpose-districts.page" target="_blank">Special Purpose Districts</a> supplement and modify the underlying zoning in distinctive neighborhoods with particular issues and goals. These boundaries <strong>extend to the centerline of streets</strong>, are not dependent on lot lines, and can sometimes intersect tax lots.</p>

      <hr />

      <p class="text-weight-bold small-margin-bottom">Adding new shapes:</p>
      <ul class="small-margin-bottom">
        <li>
          Use the
          <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
            {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
            {{fa-icon 'square' transform='grow-8' class='white'}}
            {{fa-icon 'draw-polygon' transform='shrink-2'}}
          </span>
          polygon tool to add a new shape
        </li>
        <li>Complete a new shape by clicking its final vertex a second time</li>
      </ul>

      <p class="text-weight-bold small-margin-bottom">Editing existing shapes:</p>
      <ul class="small-margin-bottom">
        <li>Edit an existing shape by selecting it and dragging its vertices</li>
        <li>Add a vertex by clicking the midpoint of a line</li>
        <li>
          Use the
          <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
            {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
            {{fa-icon 'square' transform='grow-8' class='white'}}
            {{fa-icon 'trash-alt' prefix='far' transform='shrink-2'}}
          </span>
          trash button to delete a selected shape or vertex
        </li>
      </ul>

      <p class="text-weight-bold small-margin-bottom">Labeling shapes:</p>
      <ul>
        <li>
          Select a shape then edit the
          <span class="fa-layers" style="margin-right:0.3em;margin-left:0.3em;">
            {{fa-icon 'square' transform='grow-14' class='a11y-yellow'}}
            {{fa-icon 'tag' transform='shrink-2'}}
          </span>
          label text
        </li>
      </ul>

      <hr />

      {{#selection.button
        enabled=model.hasDirtyAttributes
        handleClick=(action 'save')}}
        Save
        <small style="display:block;line-height:1.75;">Special Purpose Districts</small>
      {{/selection.button}}
    </div>
  {{/ember-wormhole}}
{{/project-geometries/draw-lots-to-union}}

{{#map.source
  options=(mapbox-geojson-source model.specialPurposeDistricts) as |source|}}
  {{source.layer
    layer=proposedSpecialPurposeDistrictsLayer
    before='boundary_country'
  }}
  {{source.layer
    layer=proposedSpecialPurposeDistrictsLabelsLayer
    before='boundary_country'
  }}
{{/map.source}}

{{#map.source
  options=(mapbox-geojson-source model.developmentSite) as |source|}}
  {{source.layer
    layer=developmentSiteLayer
    before='boundary_country'
  }}
{{/map.source}}
