{{#if isReady}}
  {{#component modeComponent directSelectMode='direct_select_rezoning' as |editMode|}}
    {{editMode.feature-label-form
        options=labelOptions}}
    {{editMode.annotations}}
    {{project-geometries/utils/canonical-geometry-reset
      model=model}}
  {{/component}}
{{/if}}

{{#ember-wormhole to='geometry-type-draw-explainer'}}
  <div class="fade-in-on-load text-small">


    <h1 class="header-large small-margin-bottom">
      Rezoning:
      <span class="text-weight-normal" style="display:block;">
        Underlying Zoning Districts
      </span>
    </h1>

    <p><a href='https://www1.nyc.gov/site/planning/zoning/districts-tools.page' target="_blank">Zoning Districts</a> are residential, commercial, or manufacturing areas within which regulations govern land use and building bulk.</p>

    <hr />

    <p>Districts usually extend to the <strong>street centerline</strong>. When moving boundaries or drawing new districts, make sure they do not overlap and there are no gaps.</p>
    <p><img src="/img/gif-underlying-zoning.gif" alt="Draw Underlying Zoning" class="shadowed" /></p>

    <hr />

    <div class="grid-x">
      {{yield}}
      <div class="cell auto">
        {{#project-geometries/utils/button
          enabled=isReadyToProceed
          handleClick=(action 'calculateRezoningOnSave')}}
          {{#if (eq model.project.currentStep.step 'complete')}}
            Save
          {{else}}
            Next {{fa-icon 'arrow-right'}}
          {{/if}}
        {{/project-geometries/utils/button}}
      </div>
    </div>

  </div>
{{/ember-wormhole}}
