<Deprecated::SiteHeader
  @responsiveNav={{false}}
  @betaNotice={{false}} as |banner|
>
  {{#banner.title}}
    {{#link-to 'application' classNames='site-title'}}Applicant Maps <small class="site-subtitle show-for-medium"></small>{{/link-to}}
  {{/banner.title}}
</Deprecated::SiteHeader>

<div class="site-main grid-x route-{{currentRouteName}}">
  {{#if (user-agent "browser.isIE")}}
    <div class="cell large-6 large-offset-3 text-center" style="padding:2rem 0;">
      {{fa-icon 'exclamation-triangle' size='2x' class='yellow-muted'}}
      <p>It looks like you're using Internet Explorer.  This site works best in a modern browser. Please try a current version of Edge, Chrome, or Firefox.</p>
    </div>
  {{/if}}
  {{outlet}}
</div>

{{notification-container position="bottom-right"}}
