{{log model}}

{{labs-site-header}}

<div class="site-main grid-x route-{{currentRouteName}}">
  <div class="search-container">
    {{labs-search}}
    {{labs-bbl-lookup}}
  </div>
  <div class="map-container cell medium-auto large-order-2">
    {{#mapbox-gl
      class='map-container'
      mapLoaded=(action 'handleMapLoad') as |map|
    }}

    {{/mapbox-gl}}
  </div>

  <div class="layer-menu cell large-order-1 {{if (not-eq currentRouteName 'index') 'show-for-medium'}}">

    {{#new-project as |projectModel saveAction|}}
      <form>
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell">
              <label>Project Name
                {{input type="text" value=projectModel.projectName}}
              </label>
              <label>Applicant Name
                {{input type="text" value=projectModel.applicantName}}
              </label>
              <button type="button" class="success button" onclick={{action saveAction}}>Save</button>
            </div>
          </div>
        </div>
      </form>
    {{/new-project}}
    <button class="button small gray text-orange" {{action "handleDrawButtonClick" 'polygon'}}>
      {{fa-icon "object-group"}} <span class="hide-for-medium">Draw</span> Polygon
    </button>
  </div>
</div>

{{outlet}}
