<div class="paper letter landscape">
  {{#labs-map
      id='main-map'
      initOptions=(hash
        zoom=15.479951257235973
        center=(array -73.96532400540775 40.709710016659386)
        bearing=20.97777777785973
      )
      model=model
      mapLoaded=(action 'handleMapLoad') as |map|}}
      {{map.labs-layers model=model}}
      {{!-- Ad-hoc source and layer for developmentSite --}}
      {{#if model.developmentSite}}
        {{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
          {{source.layer
            layer=projectGeomLayers.developmentSiteLayer
            before='boundary_country'
          }}
        {{/map.source}}
      {{/if}}

      {{!-- Ad-hoc source and layer for projectArea --}}
      {{#if model.projectArea}}
        {{#map.source options=(mapbox-geojson-source model.projectArea) as |source|}}
          {{source.layer
            layer=projectGeomLayers.projectAreaLayer
            before='boundary_country'
          }}
        {{/map.source}}
      {{/if}}

      {{!-- Ad-hoc source and layer for projectArea --}}
      {{#if model.rezoningArea}}
        {{#map.source options=(mapbox-geojson-source model.rezoningArea) as |source|}}
          {{source.layer
            layer=projectGeomLayers.rezoningAreaLayer
            before='boundary_country'
          }}
        {{/map.source}}
      {{/if}}
      {{#map.source options=projectBufferSource as |source|}}
        {{source.layer
          before='boundary_country'
        }}
      {{/map.source}}
  {{/labs-map}}
</div>

{{outlet}}
