<div class="cell route-{{currentRouteName}}">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell auto">

        <h1>Prepare, save, and print maps for Land Use and Environmental applications.</h1>

        <p>Applicant Maps is a tool for producing clear maps required for applications to the City Planning Commission for land use approvals.</p>

        <p>Most development in New York City is as-of-right, meaning that it complies with the Zoning Resolution and the developer may apply directly to the Department of Buildings for a building permit. However, property owners may seek special approvals to modify zoning requirements by applying to the City Planning Commission.  </p>

        <p>Applications to the City Planning Commission consist of written and graphic materials, including maps, that clearly present the proposed land use approvals and any development facilitated by those approvals. These applications are reviewed for completeness by the Department of City Planning before being presented to the City Planning Commission.</p>

        <p>This tool makes the preparation of commonly required maps easier and less time consuming and eliminates the need for costly drafting or GIS software.  Currently, the tool produces the Area Map, which is the most difficult map to make.  Other required maps will be coming soon.</p>

        <p>Please visit the Applicant Portal for more information regarding the application review process.</p>
      </div>
      <div class="cell large-5">

        <h2 class="header-small" style="padding-top:1rem;">STEP ONE</h2>
        <p class="lead">Create a new project for your application.</p>
        {{#link-to 'projects.new'
          data-test-get-started=true
          tagName='button'
          type='button'
          class='get-started button large expanded'}}
          <strong>Get Started</strong> &nbsp;{{fa-icon 'arrow-right'}}
        {{/link-to}}

        <h2 class="header-small" style="padding-top:1rem;">STEP TWO</h2>
        <p class="lead">Add maps to your project.</p>
        <div class="grid-x grid-padding-small align-middle">
          <div class="cell shrink">
            {{fa-icon 'plus' size='2x' class="gray"}}
          </div>
          <div class="cell small-8 medium-4">
            <img src="/img/sample-map-1.gif" alt="Sample Map" class="shadowed" />
          </div>
        </div>

        <h2 class="header-small" style="padding-top:1rem;">STEP THREE</h2>
        <p class="lead clearfix"><span class="float-left" style="margin:0.25rem 1rem 1rem 0">{{fa-icon 'print' size=2}}</span> Print your maps to paper or save them as PDFs.</p>
        <p class="lead clearfix"><span class="float-left" style="margin:0.25rem 1rem 1rem 0">{{fa-icon 'share-alt' size=2}}</span> Share your projects and maps with unique URLs.</p>

      </div>
    </div>
  </div>
</div>

{{outlet}}
