<div class="cell route-{{currentRouteName}}">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell auto">

        <h1>Prepare, save, and print maps for Land Use and Environmental applications.</h1>

          <p>Applicant Maps provides prospective applicants with a tool for producing clear maps required under City Planning’s review of land use and environmental applications. Most development in New York City is as-of-right, meaning that a proposed development must comply with the Zoning Resolution and qualify for a building permit administered by the Department of Buildings. However, projects that require special review or approvals, or modifications to existing zoning regulations are required to be reviewed by the Department and the City Planning Commission.</p>

          <p>Please visit the <a href='https://www1.nyc.gov/site/planning/applicants/applicant-portal/application-process.page' target="_blank">Applicant Portal</a> for more information regarding the review process.</p>

          <p>Land use applications consist of a land use application form and attachments. A portion of the required attachments are maps that represent the proposed land use actions and any development that may accompany the proposed actions.</p>

          <p>Draft land use applications should still be prepared following the guidance discussed with the Department of City Planning and as described in the Interdivisional Meeting minutes. </p>

        <p class="lead text-center"><a href="#"><strong>Learn more&hellip;</strong></a></p>

      </div>
      <div class="cell large-5">

        <h2 class="header-small" style="padding-top:1rem;">STEP ONE</h2>
        <p class="lead">Create a new project for your application.</p>
        {{#link-to 'projects.new' tagName='button' type='button' class='get-started button large expanded'}}
          <strong>Get Started</strong> &nbsp;{{fa-icon 'arrow-right'}}
        {{/link-to}}

        <h2 class="header-small" style="padding-top:1rem;">STEP TWO</h2>
        <p class="lead">Add maps to your project.</p>
        <div class="grid-x grid-padding-small medium-up-3">
          <div class="cell">
            <img src="/img/sample-map-1.gif" alt="Sample Map" class="shadowed" />
          </div>
          <div class="cell">
            <img src="/img/sample-map-2.gif" alt="Sample Map" class="shadowed" />
          </div>
          <div class="cell">
            <img src="/img/sample-map-3.gif" alt="Sample Map" class="shadowed" />
          </div>
        </div>

        <h2 class="header-small" style="padding-top:1rem;">STEP THREE</h2>
        <p class="lead clearfix"><span class="float-left" style="margin:0.25rem 1rem 1rem 0">{{fa-icon 'print' size=2}}</span> Print your maps to paper or save them as PDFs.</p>
        <p class="lead clearfix"><span class="float-left" style="margin:0.25rem 1rem 1rem 0">{{fa-icon 'share-alt' size=2}}</span> Share your projects and maps with unique URLs.</p>

      </div>
    </div>
  </div>
</div>

{{outlet}}
