<div class="cell route-{{currentRouteName}}">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell auto">

        <h1>Prepare, save, and print maps for Land Use and Environmental applications.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum labore et dolore magna aliqua.</p>

        <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p class="lead text-center"><a href="#"><strong>Learn more&hellip;</strong></a></p>

      </div>
      <div class="cell large-5">

        <h2 class="header-small" style="padding-top:1rem;">STEP ONE</h2>
        <p class="lead">Create a new project for your application.</p>
        {{#link-to 'projects.new' tagName='button' type='button' class='get-started button large expanded'}}
          <strong>Get Started</strong> &nbsp;{{fa-icon 'arrow-right'}}
        {{/link-to}}

        <h2 class="header-small" style="padding-top:1rem;">STEP TWO</h2>
        <p class="lead">Add maps to your project.</p>
        <div class="grid-x grid-padding-small medium-up-3">
          <div class="cell">
            <img src="/img/sample-map-1.gif" alt="Sample Map" class="shadowed" />
          </div>
          <div class="cell">
            <img src="/img/sample-map-2.gif" alt="Sample Map" class="shadowed" />
          </div>
          <div class="cell">
            <img src="/img/sample-map-3.gif" alt="Sample Map" class="shadowed" />
          </div>
        </div>

        <h2 class="header-small" style="padding-top:1rem;">STEP THREE</h2>
        <p class="lead clearfix"><span class="float-left" style="margin:0.25rem 1rem 1rem 0">{{fa-icon 'print' size=2}}</span> Print your maps to paper or save them as PDFs.</p>
        <p class="lead clearfix"><span class="float-left" style="margin:0.25rem 1rem 1rem 0">{{fa-icon 'share-alt' size=2}}</span> Share your projects and maps with unique URLs.</p>

      </div>
    </div>
  </div>
</div>

{{outlet}}
